[2020-08-24 09:40] #362 closed

[2020-08-24 09:41] jagru20 commented on #373
released

[2020-08-24 09:41] #373 closed

[2020-08-24 09:46] jagru20 commented on #396
released

[2020-08-24 09:46] #396 closed

[2020-08-24 09:52] jagru20 commented on #406
released

[2020-08-24 09:52] #406 closed

[2020-08-24 09:55] appukuttan-shailesh commented on #307
Sure, ok I get it now. I was just probably surprised to see "tabs" in each of the spreadsheets for other software items (and not just a single tab for the specific software issue). But I understand what I need to do, and can ignore the other tabs in a spreadsheet.

I think the confusion arises mainly for devs handling multiple software items, as (if like me) they might be expecting all the info to

[2020-08-24 10:43] bweyers commented on #420
I think that this is a good decision! @jagru20 Could you please add this catagory to our documentation in the Wiki? It might be easy to add this category to the KG.

[2020-08-24 12:19] sharoncy opened #423 "Nutil software"
The Nutil software card needs to be updated:

- The source code link has been changed to: https://github.com/Neural-Systems-at-UIO/nutil/
- We have a new citation: Groeneboom NE, Yates SC, Puchades MA and Bjaalie JG (2020) Nutil: A Pre- and Post-processing Toolbox for Histological Rodent Brain Section Images. Front. Neuroinform. 14:37. doi: 10.3389/fninf.2020.00037

Sharon Yates

[2020-08-24 12:36] jagru20 commented on #423
Dear @sharoncy, the DOI in the citation matches the wrong title, i suppose you are talking about

Groeneboom NE, Yates SC, Puchades MA and Bjaalie JG (2020) Nutil: A Pre- and Post-processing Toolbox for Histological Rodent Brain Section Images. Front. Neuroinform. 14:37. doi: 10.3389/fninf.2020.00037

correct?

[2020-08-24 12:37] jagru20 commented on #423
Sorry I was mistaken and therfore deleted my previous comment.

[2020-08-24 12:40] jagru20 commented on #423
The new infos have been integrated.

[2020-08-24 12:40] #423 closed

[2020-08-24 12:44] jagru20 commented on #420
Done.

[2020-08-24 12:45] #420 closed

[2020-08-25 08:32] jagru20 commented on #335
developer left feedback. @bweyers is it appropriate to classify a http backend (like this one) as middleware?

[2020-08-25 08:34] bweyers commented on #335
@jagru20 I would argue that it is *not* a middleware. I would stick with application in terms of our terminology.

[2020-08-25 08:48] jagru20 commented on #335
Ok.

@PatriziaDuhr please go on with integrating as an application then.

[2020-08-25 08:58] jagru20 commented on #400
released

[2020-08-25 08:58] #400 closed

[2020-08-25 12:40] jagru20 commented on #421
@bweyers in my opinion, this docker Container is very specific for the use in the TVB image processing pipeline (#325) and not inteded to be used with other data. Thus I would suggest one of the following:

1. Not to treat it as separate Software or a Component
or
2. Consult the developer to fill in the required info.

What do you think?

[2020-08-25 12:49] jagru20 commented on #409
Dear @lungsi,

we are currently in the process of gathering meta data on your software "CerebTests 0.3.0" to integrate it into the HBP Knowledge Graph. Unfortunately we struggle to find sufficient information. Could you please have a look at the spreadsheet and fill in at least the fields marked in red?
Thank you for your help!

HBP Software Curation Team

[2020-08-25 12:49] jagru20 commented on #410
Dear @lungsi,

we are currently in the process of gathering meta data on your software "CerebModels 0.3.0" to integrate it into the HBP Knowledge Graph. Unfortunately we struggle to find sufficient information. Could you please have a look at the spreadsheet and fill in at least the fields marked in red?
Thank you for your help!

HBP Software Curation Team

[2020-08-25 12:50] jagru20 commented on #412
Dear @lungsi,

we are currently in the process of gathering meta data on your software "CerebData" to integrate it into the HBP Knowledge Graph. Unfortunately we struggle to find sufficient information. Could you please have a look at the spreadsheet and fill in at least the fields marked in red?
Thank you for your help!

HBP Software Curation Team

[2020-08-26 10:42] bweyers commented on #421
@jagru20 we should ask the developer I guess...

[2020-08-27 07:32] herr-zett commented on #422
There's still some information missing that needs to be provided by the developers

[2020-08-27 07:58] jagru20 commented on #421
Dear @BrainModes,

we are currently in the process of integrating the software "TVB_converter" as a component of the "TVB image processing pipeline" into the EBRAINS Knowledge Graph. However, we can not find sufficient information on this component and thus need your help.
Can this software be used as a standalone at all? If so, could you please fill in the required information in the spreadsheet

[2020-08-27 10:11] jagru20 commented on #414
@filippocastelli and @gmazzamuto, we have collected some additional information on the Neuron Segmentation Tool. Could you please have a look at the spreadsheet? Please leave a comment in the "Developer Comments" column if something bothers you.  After this we will continue integrating the meta data into the Knowledge Graph. Thanks!

[2020-08-27 21:18] gmazzamuto commented on #414
Looks good to me, thanks!

[2020-08-28 08:42] herr-zett opened #424 "Metadata scheme adaptations - Data Collection"
**Category:** Usage

**Triggering Case:** [Android app for multimodal data acquisition from wearables 1.0](https://github.com/bweyers/HBPVisCatalogue/issues/366)

**Problem:** During revision the developer added "Data Collection" in addition to "Data Processing" to the [spreadsheet](https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=1795257804). Currently

[2020-08-28 08:46] herr-zett commented on #366
Due to changes made by the revising developer a new software feature was proposed in issue #424. If it is accepted, the KG-entry of this software has to be updated

[2020-08-28 09:26] herr-zett opened #425 "SimPart"
This software is a component of ViSimpl #314

Other than these two articles ([1](https://www.frontiersin.org/articles/10.3389/fninf.2016.00044/full),[2](https://arxiv.org/pdf/2003.06343.pdf)), that mention and give brief descriptions of SimPart as a component of ViSimpl, I couldn't find a repository or documentation providing in depth information about this software.

Should the developers of ViSi

[2020-08-28 10:09] herr-zett opened #426 "PIPSA"
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=1558244140

This software is a component of multipipsa #322

In the latest [release notes](https://projects.h-its.org/mcmsoft/pipsa/4.0.2/availability.html) of this software provided on the [homepage](https://pipsa.h-its.org/pipsa/pipsa-docu.jsp) it is stated that:

This python wrapper refers to multipipsa

[2020-08-28 11:21] jagru20 commented on #419
Developer left feedback, please integrate.

[2020-08-31 08:14] Lestropie commented on #418
Tagging self @Lestropie in order to receive notifications.

[2020-08-31 09:36] herr-zett commented on #419
@jagru20 @bweyers
Developer added following link into the field "Components": [www.nipreps.org](https://www.nipreps.org/)

According to this website NiPreps (NeuroImaging PREProcessing toolS) appears to be a collection of different applications that adhere to the [BIDS-App standard](https://www.nipreps.org/apps/framework/).
Therefore I wouldn't add NiPreps as component of fMRIPrep.

[2020-08-31 16:02] gmazzamuto commented on #402
May I ask you where the released software are released? so that I can add the link in relevant HBP reports and documents

thanks a lot

[2020-09-01 07:07] jagru20 commented on #402
Excuse me for splitting hair, but just to avoid misunderstandings: Strictly speaking not the software but only the collected metadata is published in the EBRAINS knowledge graph. The metadata can be viewed under the link https://kg.ebrains.eu/search/?facet_type[0]=Software&q=zeta#Software/85c7bd09-e0e6-42d8-873d-a60f612ae6ac.

The Knowledge Graph Search-UI can be reached at https://kg.ebrains.eu/s

[2020-09-01 07:55] jagru20 opened #427 "LePetitPrince"
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=1348793868

[2020-09-01 12:10] apdavison commented on #294
The Model Validation Framework is an umbrella project, which includes:
- the REST API
- the Model Catalog web client
- a Python client
- a collection of Python libraries based on SciUnit

I think it's probably better to represent each component individually. I'm not sure there's any need to represent the umbrella in the KG.

[2020-09-01 12:23] bweyers commented on #426
Move further information from pipsa to multipipsa #322 and close this issue as pipsa is part of mutlipipsa

[2020-09-01 12:23] #426 closed

[2020-09-01 12:26] bweyers commented on #54
This software is not furhter developed and thus this issue can be closed.

[2020-09-01 12:26] #54 closed

[2020-09-01 12:27] bweyers commented on #55
Is not further developed and thus this issue can be closed.

[2020-09-01 12:27] #55 closed

[2020-09-01 12:29] bweyers commented on #56
Is not further developed and funded by HBP. Thus, this issue can be closed.

[2020-09-01 12:29] #56 closed

[2020-09-01 12:30] jagru20 commented on #57
Is not further developed and funded by HBP. Thus, this issue can be closed.

[2020-09-01 12:30] #57 closed

[2020-09-01 12:31] jagru20 commented on #58
Is not further developed and funded by HBP. Thus, this issue can be closed.

[2020-09-01 12:31] #58 closed

[2020-09-01 12:31] jagru20 commented on #59
Is not further developed and funded by HBP. Thus, this issue can be closed.

[2020-09-01 12:31] #59 closed

[2020-09-01 12:32] jagru20 commented on #64
Is not further developed and funded by HBP. Thus, this issue can be closed.

[2020-09-01 12:32] #64 closed

[2020-09-01 12:33] bweyers commented on #261
@herr-zett yes, seems like a copy and thus can be closed.

[2020-09-01 12:33] #261 closed

[2020-09-01 12:35] bweyers commented on #377
@jagru20 will contact the developer for further information.

[2020-09-01 12:37] bweyers commented on #333
We should close this issue as software seems to be not further developed and not in a mature state.

[2020-09-01 12:37] #333 closed

[2020-09-01 12:38] bweyers commented on #320
There is no information openly accessible to contact developers or continue curation. Thus, issue will be closed.

[2020-09-01 12:38] #320 closed

[2020-09-01 12:39] bweyers commented on #308
@jagru20 will contact developer for getting further information.

[2020-09-01 12:44] bweyers commented on #345
@AnnHa2019 please check again as repository still exists.

[2020-09-01 12:48] bweyers commented on #348
@jagru20 will contact developer to add up to data on insite (as the new incarnation of the in situ pipeline).

[2020-09-01 12:49] bweyers commented on #354
@jagru20 please contact developer.

[2020-09-01 12:50] bweyers commented on #357
@jagru20 please contact developer.

[2020-09-01 12:51] bweyers commented on #363
@jagru20 please contact the developer.

[2020-09-01 12:53] bweyers commented on #371
@AnnHa2019 it seems to be a Jupyter Notebook for which we have a specific application type.
@jagru20 please contact developer to let fill in the schema.

[2020-09-01 13:01] bweyers commented on #188
@herr-zett please add new data type (Matrix Date Type) and finalize integration.

[2020-09-01 13:03] bweyers commented on #283
@AnnHa2019 please specify the actual problem identified with this entry.

[2020-09-01 13:05] jagru20 commented on #313
Dear @andresni, could you please comment? Otherwise we will close this issue as we assume there is no curation needed.

[2020-09-01 13:23] andresni commented on #313
Hi Jan,
Sorry for lack of reply. It drowned in my email it appears.

The YAML platform was under development, but was supplanted by another very
similar effort from the US at which point we felt no real need to continue
working on it. In other words, it's in one sense abandonded, but it still
works and is "useful" but continously less and less so as the other project
has a wider scope than we did.

[2020-09-01 15:11] jagru20 commented on #308
Apparently, the author (github user @lungsi most likely) has been asked for further information on 9th of July via Email. No response received yet.

[2020-09-02 08:17] jagru20 commented on #313
Thank you for this information. What is the exact name of the other tool?

[2020-09-02 08:46] andresni commented on #313
They call it deNEST
See Git repository here: https://github.com/TomBugnon/deNEST

On Wed, 2 Sep 2020 at 10:17, jagru20 <notifications@github.com> wrote:

[2020-09-02 09:07] herr-zett opened #428 "ODE-toolbox v2.0"
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=1106385118

[2020-09-04 08:47] jagru20 opened #429 "Delete obsolete KG entities"
We should have a look at the KG and systematically decide which entities are to be deleted.
This is to be discussed in the next internal SW curation meeting.
This includes:
- Entities which have been generated automatically with issues which are closed by now
- Erroneous generated entities

[2020-09-04 08:50] bweyers commented on #429
First step should be to identify these pieces of software, which we are not continuing currating but have a place holder entry in the KG already

[2020-09-04 08:54] jagru20 commented on #313
Thanks! @AnnHa2019 I suggest to curate deNest instead of NEST YAML then. Please start a new curation process, hence this issue will be closed.

[2020-09-04 08:54] #313 closed

[2020-09-04 10:29] jagru20 opened #430 "List of Curation/KG amendments"
The following points are to be discussed in upcoming Curation Meetings:

- [x] Add a category filter for the SW search (see [here](https://kanban.ebrains.eu/curators/ebrains-curation-team/-/issues/14#note_1474) and [here](https://kanban.ebrains.eu/kg/planning/-/issues/461))
- [x] Media type definition for input and output files (see [this](https://www.iana.org/assignments/media-types/media-types.x

[2020-09-04 11:19] jagru20 commented on #348
Developer contacted

[2020-09-04 11:34] jagru20 commented on #377
Dear Matthias,

we are currently in the process to integrate the meta data on the software Software for computing epileptogenicity from responses to stimulations 1.0 into the HBP Knowledge Graph. However, we are struggling to find all required information. Would you please fill in the empty fields in the spreadsheet (link below) as far as possible as well as extend the existing data?

https://docs

[2020-09-04 11:37] jagru20 commented on #377
Contacted developer

[2020-09-04 11:44] jagru20 commented on #354
Email sent to developer (@ludovicc), but was rejected because I'm not on the whitelist. Hence this way:

Dear Ludovic,

we are currently in the process to add metadata on software to the HBP Knowledge Graph. The major purpose is threefold: First, we would like to enable users to search for software additionally to data etc. through the knowledge graph search interface. Second, this enables to furt

[2020-09-04 11:46] jagru20 commented on #357
@ludovicc could you also comment on this software if it is still being developed and thus shall be integrated into the knowledge graph?

[2020-09-04 11:56] jagru20 commented on #363
Developer contacted

[2020-09-04 11:59] jagru20 commented on #371
Contacted developer

[2020-09-04 12:03] jagru20 commented on #342
Contacted dev

[2020-09-04 12:05] jagru20 commented on #427
@herr-zett please integrate this next.

[2020-09-04 13:32] appukuttan-shailesh commented on #307
Looks fine; updated a couple of entries.
Let me know if there was anything else to be added.

[2020-09-04 13:36] appukuttan-shailesh commented on #309
Added info. Looks fine.
Let me know if anything else required.

[2020-09-04 13:38] AnnHa2019 commented on #283
The problem was that the last activity was three years ago.

[2020-09-04 13:58] appukuttan-shailesh commented on #301
Added info. Looks fine.
Let me know if anything else required.

Note: component (and tab in spreadsheet) renamed to 'eFELunit 1.1.5'.... corresponding to PyPI release version

[2020-09-04 14:06] appukuttan-shailesh commented on #307
p.s. just a suggestion.... it would be useful if you can add the respective devs on their tickets under "Assignees".
If this isn't possible, then maybe specify in the ticket body the dev's names?
.... makes its easier to search all the tickets that a dev needs to respond to.

[2020-09-04 14:24] AnnHa2019 opened #431 "deNest 1.0.1"
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=34874758

[2020-09-05 14:01] herr-zett commented on #427
@bweyers @jagru20 Developer mentioned "nifti images (3D/4D)" as Data Types.
For now I've added "Time Series Data Types", "3D-Scalar Data Types" and "3D-Vector Data Types" into the KG. Is this a sufficient representation?

[2020-09-07 10:35] herr-zett opened #432 "MRtrix3 3.0.2"
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=1353946237

[2020-09-07 12:14] jagru20 commented on #427
Yes, it is.

[2020-09-07 13:04] jagru20 commented on #427
Is released now.

[2020-09-07 13:04] #427 closed

[2020-09-08 14:38] herr-zett commented on #366
Done

[2020-09-08 14:39] herr-zett commented on #424
Added "Data Acquisition" to the list of software features

[2020-09-08 14:39] #424 closed

[2020-09-11 15:21] thierrynieus opened #433 "Lempel Ziv Perturbational Complexity Index"
Dear HBP software support team. I would like to have our software for the calculation of the complexity index included in your catalogue. I attach the template file I have been asked to fill in a previous email exchange.

[](https://github.com/bweyers/HBPVisCatalogue/files/5234283/Template-1.xlsx)
https://docs.google.com/spreadsheets/d/1jeTAk-_53BHYyJ6UfGIzqHaqR2x3XcwXxjOk9RHSG_A/edit?usp=sharing

[2020-09-14 09:57] jagru20 commented on #188
released

[2020-09-14 09:57] #188 closed

[2020-09-14 10:00] jagru20 commented on #309
Released.

[2020-09-14 10:02] jagru20 commented on #309
Unreleased again... @PatriziaDuhr, please check to what extent the developer's feedback differs from that already integrated and update it, thanks!

[2020-09-14 10:09] jagru20 commented on #321
Released

[2020-09-14 10:09] #321 closed

[2020-09-14 10:10] jagru20 commented on #335
Released.

[2020-09-14 10:10] #335 closed

[2020-09-14 11:14] jagru20 commented on #340
released

[2020-09-14 11:14] #340 closed

[2020-09-14 11:16] jagru20 commented on #366
Released.

[2020-09-14 11:16] #366 closed

[2020-09-14 11:17] jagru20 commented on #367
released

[2020-09-14 11:17] #367 closed

[2020-09-14 11:24] jagru20 commented on #370
released

[2020-09-14 11:24] #370 closed

[2020-09-14 11:29] jagru20 commented on #404
released

[2020-09-14 11:29] #404 closed

[2020-09-14 11:33] jagru20 commented on #405
released

[2020-09-14 11:33] #405 closed

[2020-09-14 11:35] jagru20 commented on #414
released

[2020-09-14 11:35] #414 closed

[2020-09-14 11:37] jagru20 commented on #418
released

[2020-09-14 11:37] #418 closed

[2020-09-14 11:48] jagru20 commented on #419
released

[2020-09-14 11:48] #419 closed

[2020-09-14 11:56] jagru20 commented on #189
Thanks!

[2020-09-14 12:02] jagru20 commented on #358
Dear @ludovicc, is there any update on this?

[2020-09-14 14:31] chrisvdt opened #434 "SpectralSegmentation 1.0"
[SpecSeg.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/5219090/SpecSeg.xlsx)

[Spreadsheet](https://docs.google.com/spreadsheets/d/1TJqMcLfbf1JViiUG3rhF8SFk38Vx7vFA_eD_pt402x0/edit?usp=sharing)

[2020-09-16 18:55] jagru20 commented on #433
@PatriziaDuhr  the Description was updated. I think we can continue the integration now.

[2020-09-17 05:47] jagru20 commented on #428
released

[2020-09-17 05:47] #428 closed

[2020-09-17 06:44] jagru20 commented on #371
released

[2020-09-17 06:44] #371 closed

[2020-09-17 06:53] #90 closed

[2020-09-17 06:53] #94 closed

[2020-09-17 06:53] #99 closed

[2020-09-17 06:53] #121 closed

[2020-09-17 06:53] #125 closed

[2020-09-17 06:53] #128 closed

[2020-09-17 06:53] #156 closed

[2020-09-17 06:53] #157 closed

[2020-09-17 06:53] #158 closed

[2020-09-17 06:53] #159 closed

[2020-09-17 06:53] #162 closed

[2020-09-17 06:53] #164 closed

[2020-09-17 06:53] #165 closed

[2020-09-17 06:53] #251 closed

[2020-09-17 06:53] #252 closed

[2020-09-17 06:53] #253 closed

[2020-09-17 06:53] #255 closed

[2020-09-17 06:53] #256 closed

[2020-09-17 06:53] #257 closed

[2020-09-17 06:53] #258 closed

[2020-09-17 06:53] #259 closed

[2020-09-17 06:53] #263 closed

[2020-09-17 06:53] #264 closed

[2020-09-17 06:53] #268 closed

[2020-09-17 06:53] #269 closed

[2020-09-17 06:53] #270 closed

[2020-09-17 06:53] #272 closed

[2020-09-17 06:53] #273 closed

[2020-09-17 06:53] #276 closed

[2020-09-17 06:53] #278 closed

[2020-09-17 06:53] #279 closed

[2020-09-17 06:53] #282 closed

[2020-09-17 06:53] #292 closed

[2020-09-17 06:53] #293 closed

[2020-09-17 06:53] #296 closed

[2020-09-17 06:53] #297 closed

[2020-09-17 06:53] #298 closed

[2020-09-17 06:53] #299 closed

[2020-09-17 06:53] #166 closed

[2020-09-17 06:53] #168 closed

[2020-09-17 06:53] #172 closed

[2020-09-17 06:53] #173 closed

[2020-09-17 06:53] #174 closed

[2020-09-17 06:53] #175 closed

[2020-09-17 06:53] #176 closed

[2020-09-17 06:53] #177 closed

[2020-09-17 06:53] #178 closed

[2020-09-17 06:53] #183 closed

[2020-09-17 06:53] #185 closed

[2020-09-17 06:53] #211 closed

[2020-09-17 06:53] #228 closed

[2020-09-17 06:53] #239 closed

[2020-09-17 06:53] #240 closed

[2020-09-17 06:53] #241 closed

[2020-09-17 06:53] #242 closed

[2020-09-17 06:53] #243 closed

[2020-09-17 06:53] #244 closed

[2020-09-17 06:53] #245 closed

[2020-09-17 06:53] #246 closed

[2020-09-17 06:53] #247 closed

[2020-09-17 06:53] #248 closed

[2020-09-17 06:53] #249 closed

[2020-09-17 06:53] #250 closed

[2020-09-17 09:06] cpoupon opened #435 "Ginkgo/MEDUSA"
Dear HBP software support team,

I would like to submit the Ginkgo/MEDUSA simulation tool that has been developed in the frame of HBP SGA2 and corresponding to the milestone MS2.6.2 A dictionary of simulated samples mimicking white matter and more specifically to the Task T2.6.5 Simulation and tractography performed on the HPC.
This tool allows to simulate the membrane geometry of brain cellular e

[2020-09-17 09:25] samuelgarcia commented on #387
Hi.
The OpenElectrophy software is dead and unmaintain since some year now.
I don't think it is valuable to integrate it in a globale catalogue of software anymore.

[2020-09-17 09:40] jagru20 commented on #387
@samuelgarcia, thank you for giving the answer for our question before we even asked! That's efficiency at its best.

[2020-09-17 09:40] jagru20 commented on #387
The software will not be curated and thus this issue is closed.

[2020-09-17 09:40] #387 closed

[2020-09-17 10:44] cpoupon opened #436 "Ginkgo/GlobalTractography"
Dear HBP software support team,

I would like to submit the Ginkgo/GlobalTractography processing tool that has been developed in the frame of HBP SGA2 and corresponding to the milestone MS2.6.2 A dictionary of simulated samples mimicking white matter and more specifically to the Task T2.6.6 Simulation and tractography performed on the HPC.
This tool allows to infer the structural connectivity of t

[2020-09-17 12:10] jagru20 commented on #359
released

[2020-09-17 12:10] #359 closed

[2020-09-17 12:13] jagru20 commented on #309
released

[2020-09-17 12:13] #309 closed

[2020-09-18 08:50] jagru20 commented on #308
Still no response from @lungsi

[2020-09-18 14:53] gmazzamuto opened #437 "3D Structure Tensor Analysis"
Dear all,

please find attached the xlsx for the curation of this software.

[3D_STA.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/5246225/3D_STA.xlsx)

Best

[2020-09-19 02:35] jagru20 commented on #433
released

[2020-09-19 02:35] #433 closed

[2020-09-23 10:49] JohnAshburner opened #438 "MB v0.1.0"
[MetaDataTemplateV2-MB.txt](https://github.com/bweyers/HBPVisCatalogue/files/5267502/MetaDataTemplateV2-MB.txt)

Converted to .txt because .csv not supported here.

[2020-09-23 11:09] herr-zett commented on #437
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=974309602

[2020-09-23 11:13] JohnAshburner opened #439 "FIL v0.1.1"
[MetaDataTemplateV2-FIL.txt](https://github.com/bweyers/HBPVisCatalogue/files/5267711/MetaDataTemplateV2-FIL.txt)

[2020-09-24 15:02] ericup opened #440 "demics"
Dear HBP software support team,

I would like to submit the Demics Python library.
Please note that this software is ought to be curated **by 29.09.2020** to meet the deadline.

With best regards,
Eric

[demics.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/5276947/demics.xlsx)

[2020-09-25 09:32] jagru20 commented on #440
Dear Eric,

We will curate the library as soon as possible. I hope that you understand that we have limited resources but numerous requests like yours, thus "as soon as possible" means "as soon as our resources allow". However, if you want to make sure that you can meet your deadline for future submissions, I strongly recommend that you submit any software significantly before the deadline (i.e. a

[2020-09-25 09:48] jagru20 commented on #375
The developer has been contacted, waiting for reply.

[2020-09-25 09:48] ericup commented on #440
Dear Jan,

Thank you very much for your reply, I really apprechiate it! We will keep your words in mind for our next submission.

Best regards,
Eric

[2020-09-27 15:08] herr-zett commented on #440
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=2114662358

[2020-09-27 15:59] herr-zett commented on #440
Hello Eric,

I've created a Google Spreadsheet containing information about your software (see link above). Could you please provide information about the **funder(s)/funding (cell B11)** of this software? Additionally, a short **summary (cell B3)** of one sentence in length about the software would be very helpful; alternatively we could use the description (cell B4) you've provided as a summary,

[2020-09-28 11:04] ericup commented on #440
Hello Daniel,

Thank you very much!
A pre-release is now available.
I updated the respective cells accordingly.

Best regards,
Eric

[2020-09-28 12:29] jagru20 opened #441 "Multi-Brain: Unified segmentation of population neuroimaging data"
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=630852599

[2020-09-28 12:35] jagru20 commented on #441
Dear @JohnAshburner, to integrate the metadata of your tool "Multi-Brain: Unified segmentation of population neuroimaging data" until the deadline tomorrow, we need your help: Please have a look at the spreadsheet mentioned in the above comment and fill in the required information (at least the fields marked in red). The more detail, the better. Additional information on what to fill in can be fou

[2020-09-28 12:39] jagru20 opened #442 "Factorisation-based Image Labelling"
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=1385068235

Dear @JohnAshburner, to integrate the metadata of your tool "Multi-Brain: Unified segmentation of population neuroimaging data" until the deadline tomorrow, we need your help: Please have a look at the spreadsheet mentioned above and fill in the required information (at least the fields marked

[2020-09-28 12:42] jagru20 commented on #441
This is a duplicate of #438  and thus is closed. Sorry for the confusion.

[2020-09-28 12:42] #441 closed

[2020-09-28 12:43] jagru20 commented on #442
This is a duplicate of #439 and thus will be closed.

[2020-09-28 12:43] #442 closed

[2020-09-28 12:57] jagru20 commented on #438
@JohnAshburner we have revised and slighty adapted the information as well as added some questions. Please have a look at the spreadsheet
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=1966332817
and use the "Commonts Developer" column for your comments and answers.

[2020-09-28 14:04] jagru20 commented on #439
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=1385068235

[2020-09-28 18:05] herr-zett commented on #435
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=2063353137

[2020-09-28 18:59] jagru20 commented on #440
Has been released: https://kg.ebrains.eu/search/?facet_type[0]=Software&q=demics#Software/0ab66f6c-5f4c-48e6-89f5-cdd5193e9e35

[2020-09-28 18:59] #440 closed

[2020-09-28 19:07] jagru20 commented on #436
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=772256348

[2020-09-29 08:30] jagru20 commented on #437
@gmazzamuto, please have another look at the modified metadata spreadsheet. If you agree with it, we continue integration.

[2020-09-29 09:04] jagru20 commented on #436
@cpoupon, could you please have a quick look at the modified spreadsheet at https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=772256348 and give us feedback? If you are fine with the metadata, we will integrate it into the KG.

[2020-09-29 10:33] jagru20 commented on #438
released: https://kg.ebrains.eu/search/?facet_type[0]=Software#Software/6b3a113b-8640-4e27-baab-bf4eef1c6501

[2020-09-29 10:33] #438 closed

[2020-09-29 10:41] jagru20 commented on #434
@chrisvdt please have another look at the changes we made to the metadata in the [spreadsheet](https://docs.google.com/spreadsheets/d/1TJqMcLfbf1JViiUG3rhF8SFk38Vx7vFA_eD_pt402x0/edit?usp=sharing) and give us feedback. If you are fine with it, we will integrate it. Please also add the creation date in the "Created at" field.

[2020-09-29 12:31] jagru20 commented on #436
@cpoupon can you please provide a date on which the software has been created?

[2020-09-29 12:33] jagru20 commented on #435
@cpoupon can you please provide a date on which the software has been created and fill it into the spreadsheet in field _B5_ ?

[2020-09-29 12:34] jagru20 commented on #437
Is released

[2020-09-29 12:34] #437 closed

[2020-09-29 12:41] gmazzamuto commented on #437
Looks good to me, thank you

[2020-09-29 12:45] chrisvdt commented on #434
@jagru20 I've had a look at the updated spreadsheet, and added the creation date. The rest looks fine to me, except the links to the authors. I realize you could not ad a link to Leander, I'll see if we can mend this, so we can add him as well, he has done a lot of work on this toolbox.

[2020-09-29 13:28] jagru20 commented on #435
released: https://kg.ebrains.eu/search/?facet_type[0]=Software#Software/91e8f01e-af99-4804-b42d-a08407b86940

[2020-09-29 13:31] cpoupon commented on #436
Dear Curation Team,

The modified google doc is ok for me.
The date of the creation of the code is October 2017
Tell me if it answers your questions.
All the best,

Cyril Poupon

[2020-09-29 13:33] jagru20 commented on #436
Thanks so far! Actually I was looking for a specific day. Can you provide it?

[2020-09-29 13:34] cpoupon commented on #435
Dear Curation Team,

I modified the create date to 2020, June, 30th
Tell me if it is ok on your side,

All the best,

Cyril

[2020-09-29 13:35] jagru20 commented on #439
@JohnAshburner Can you please have a quick look at the [spreadsheet ](https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=1385068235)and add feedback where necessary? Thanks!

[2020-09-29 13:40] jagru20 commented on #436
released: https://kg.ebrains.eu/search/?facet_type[0]=Software#Software/e82f2f4d-82e0-4c0d-bb31-b0ca91ded522

[2020-09-29 13:40] #436 closed

[2020-09-29 13:44] jagru20 commented on #435
That's fine, thanks. released: https://kg.ebrains.eu/search/?facet_type[0]=Software#Software/91e8f01e-af99-4804-b42d-a08407b86940

[2020-09-29 13:44] #435 closed

[2020-09-29 13:58] jagru20 commented on #434
released: https://kg.ebrains.eu/search/?facet_type[0]=Software#Software/90368a62-42ea-481d-a95c-818419b95c14

[2020-09-29 13:58] #434 closed

[2020-10-01 17:02] AnnHa2019 commented on #408
https://docs.google.com/spreadsheets/d/1d-e8VQagnfavD7JAxjtGlCRLXE5KUw689yn6Vkvf0Ek/edit#gid=107692475

[2020-10-01 21:16] bweyers commented on #439
has been released!

[2020-10-01 21:16] #439 closed

[2020-10-02 09:24] jagru20 commented on #432
@Lestropie, I have noticed, that you are looking for an opportunity to provide DOIs for each version of your software and for the project as a whole. We are planning to implement such a feature into the EBRAINS knowledge graph. However, although we can not provide the DOI at this point in time, it is noticed that you are interested in this and we will come back to it, once the DOI registration is

[2020-10-02 10:16] herr-zett commented on #432
updated the spreadsheet according to the latest release of version 3.0.2

[2020-10-05 01:39] Lestropie commented on #432
Tagging @jdtournier w.r.t. DOIs, since I missed the bulk of the discussion that happened in that context. We're not yet fully decided what we want to do about DOIs; there's some discussion of the issues in MRtrix3/mrtrix3#2174.

[2020-10-05 09:31] jagru20 commented on #432
Yes, you linked that one in the spreadsheet, too. Please let us know when this is decided on your side, as I will as well inform you when we have the possibility to register DOIs for the knowledge graph entries. Thanks!

[2020-10-05 10:33] jdtournier commented on #432
OK, I've fixed up a few things on the spreadsheet (I have to admit that Google Sheet's handling of multi-line text and hyperlinks could do with some improvement...).

One outstanding issue is the lack of user information for @CanWood. The original pull request is MRtrix3/mrtrix3#1040¸ but that doesn't help to narrow it down any further. I'm hoping that by tagging @CanWood in this issue, this might

[2020-10-05 12:21] jagru20 commented on #342
The developer extended the information and wishes to integrate it into the KG. According to the description, I would recommend treating this as middleware (The developer called it "Service", which does not suit our terminology) what do you think?

[2020-10-05 12:30] jagru20 commented on #432
@herr-zett please modify the KG instance according to the latest changes and change back the labels afterwards. Thanks!

[2020-10-05 12:45] jagru20 commented on #421
@herr-zett, the developer extended the information. Please check.

[2020-10-06 12:29] jagru20 commented on #375
Website reachable now. @herr-zett continues.

[2020-10-06 12:33] jagru20 commented on #271
this software is marked as deprecated and thus the issue is closed.

[2020-10-06 12:33] #271 closed

[2020-10-06 12:37] jagru20 commented on #283
contacted developer to find out if software is still active.

[2020-10-06 12:45] jagru20 commented on #318
Developer contacted for further information

[2020-10-06 12:48] jagru20 commented on #348
Developer reminded

[2020-10-06 12:53] jagru20 commented on #356
I suggest closing this issue as there is no contact information available to get more detailed metadata info.

[2020-10-06 12:54] jagru20 commented on #357
@ludovicc, could you please comment on this?

[2020-10-06 12:55] jagru20 commented on #354
@ludovicc, could you please comment on this?

[2020-10-06 13:59] jagru20 commented on #408
Developer: @juanjosegarcan

[2020-10-06 14:16] jagru20 commented on #431
released

[2020-10-06 14:16] #431 closed

[2020-10-06 14:23] jagru20 commented on #307
released: https://kg.ebrains.eu/search/instances/Software/3ab6bb29-5a48-43ac-bf53-b307c66505cb

[2020-10-06 14:24] #307 closed

[2020-10-06 14:32] jagru20 commented on #301
https://kg.ebrains.eu/search/instances/Software/e80b83f8-f6e7-46f1-aaaf-b795c4388b0e

[2020-10-06 14:32] #301 closed

[2020-10-06 14:37] jagru20 commented on #376
released: https://kg.ebrains.eu/search/instances/software/e80b83f8-f6e7-46f1-aaaf-b795c4388b0e

[2020-10-06 14:37] #376 closed

[2020-10-06 14:52] bweyers commented on #356
@jagru20 @PatriziaDuhr yes please close the issue in this case and delete the entity from the KG.

[2020-10-07 06:31] jagru20 commented on #356
KG entity is deleted. Issue closed due to lack of information.

[2020-10-07 06:31] #356 closed

[2020-10-07 06:39] jagru20 commented on #378
Closing this issue because NeHuBa is taken care of in #318

[2020-10-07 06:39] #378 closed

[2020-10-07 10:24] herr-zett commented on #432
The link to the release notes (cell B18) has been changed to redirect to the previous version 3.0.1. Is there a particular reason for it or should I change it back to version 3.0.2?
(For now, the instance I've already created in the Knowledge Graph references version 3.0.2 of this software)

[2020-10-07 10:55] jdtournier commented on #432
Oops, I thought I'd gone through and changed all references to 3.0.1 to 3.0.2 (there were quite a few). I must have missed that one - or messed it up somehow. That should definitely be linking to 3.0.2 - I've fixed it in the Google doc.

[2020-10-07 11:13] herr-zett commented on #421
The links provided as Documentation (cell B23) are the same as for the software in issue #325. Probably due to the fact that this software is a component of #325.

[2020-10-07 14:32] AnnHa2019 commented on #283
added new mail adress

[2020-10-09 11:25] jagru20 commented on #375
Dear @johannes-darms, we are trying to integrate metadata about your ontology lookup service into the EBRAINS knowledge graph. Could you please have a look at the [spreadsheet](https://docs.google.com/spreadsheets/d/1_uZ1EWiWmoojW81UmT_PlGcBtnUSpM6dp0Tr-k4FkEY/edit#gid=1930102843) and fill it with accurate information? Thank you!

[2020-10-13 07:52] jagru20 commented on #343
Released

[2020-10-13 07:52] #343 closed

[2020-10-14 09:51] herr-zett commented on #266
Apparently this issue references a Use Case rather than actual software. At least the provided link to the [Collaboratory](https://collab.humanbrainproject.eu/#/collab/1655/nav/66850) is listed under the category "Online Use Cases".
With issue #262 we already have a KG-instance describing the Synaptic Events Fitting Notebook.
Furthermore we've closed issue #267 that seems to describe a similar Use

[2020-10-14 11:43] jagru20 commented on #266
Yes, this issue is closed as we are not curating models.

[2020-10-14 11:43] #266 closed

[2020-10-14 11:44] jagru20 commented on #348
The developer added information, please revise and expand it, if possible.

[2020-10-14 12:00] jagru20 commented on #308
This issue is closed for two reasons:
1. There is too little information publicly available to meet our quality standards in metadata curation.
1. The person we have the contact information of does not react to our requests for more information.

[2020-10-14 12:00] #308 closed

[2020-10-14 12:01] jagru20 commented on #409
This issue is closed for two reasons:
1. There is too little information publicly available to meet our quality standards in metadata curation.
1. The person we have the contact information of does not react to our requests for more information.

[2020-10-14 12:01] #409 closed

[2020-10-14 12:01] jagru20 commented on #410
This issue is closed for two reasons:
1. There is too little information publicly available to meet our quality standards in metadata curation.
1. The person we have the contact information of does not react to our requests for more information.

[2020-10-14 12:01] #410 closed

[2020-10-14 12:02] jagru20 commented on #412
This issue is closed for two reasons:
1. There is too little information publicly available to meet our quality standards in metadata curation.
1. The person we have the contact information of does not react to our requests for more information.

[2020-10-14 12:02] #412 closed

[2020-10-15 09:11] jagru20 commented on #139
Contacted @dguarino for revision.

[2020-10-15 09:26] jagru20 commented on #360
Contacted @Marigold and @ludovicc for revision.

[2020-10-15 09:44] jagru20 commented on #345
@dickscheid would you please have a look at the spreadsheet and the contained comments to give us feedback on the collected metadata, before we integrate it into the knowledge graph? Thank you!

[2020-10-16 17:38] AnnHa2019 commented on #169
There is no source code and only a link to the documentation and the short collab entry. For me the project looks outdated.

[2020-10-18 11:30] herr-zett commented on #160
This seems to be an instance to test the software catalog in the Collaboratory?

[2020-10-20 11:44] bweyers commented on #358
@jagru20 @herr-zett as I understand, this is a data set and thus should have any time of input or output data?

[2020-10-20 13:27] jagru20 commented on #358
As far as I understood, this is software to manage data from the HBP Medical Pnformatics Platform (MIP) meta database.
According to the [readme](https://github.com/LREN-CHUV/mip-cde-meta-db-setup/tree/master#introduction), this contains "metadata used for reference"
But you are right, it should be further clarified, which kind of data this is.

However, considering the facts that the description i

[2020-10-20 13:44] bweyers commented on #358
To be honest, if we do not get feedback, I am reluctant to release this software as it seems not complete. For a database, I need to now how to move data into it and also how to extract it. If is only API based (which I do not think) it might be possible that there are no specific formats available. I also think that the description in the spreadsheet is quite short...

[2020-10-20 14:50] jagru20 commented on #432
released: https://kg.ebrains.eu/search/?facet_type[0]=Software#Software/7efa2151-1396-43c3-82b4-6cf0d45daeb6

[2020-10-20 14:50] #432 closed

[2020-10-23 11:55] jagru20 opened #443 "ExploreASL"
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=2049978321

This software was submitted by Henk Mutsaerts (@ExploreASL)

Please note that we assume all persons named in the metadata form have endorsed the processing and the publication of their names, E-Mail addresses and ORCID in the EBRAINS knowledge graph.

[2020-10-24 19:00] HenkMutsaerts commented on #443
Thanks, the publication of the authors' names is fine, this is already in NeuroImage/GitHub where this is public domain.
I saw in your excel table that you categorize ExploreASL as "not-free software", what is the criterion for this? ExploreASL is free for academic usage, only if others earn money with our academic work, we would like to have some of this commercial revenue transferred into academ

[2020-10-25 09:58] herr-zett commented on #443
@jagru20 It seems that I have do not have permission to edit the spreadsheet. Could you grant me access for editing?

[2020-10-25 12:45] jagru20 commented on #443
@HenkMutsaerts The content of the spreadsheet is not final yet. "False" is the default value for the respective field. We will integrate all information we can find and will contact you again to revise it. However, if you want to support us, you are welcome to add and correct information to the spreadsheet yourself, as this speeds up the curation process significantly. If you are interested in a m

[2020-10-25 19:11] HenkMutsaerts commented on #443
Dear Jan,

Thanks, you should probably be able to find all the required information in the ExploreASL neuroimage paper, if not, do you mind asking me the details by email?

The license indeed needs to be finalized, this will be an "academic free" license (very similar to the one from FSL). Can I update the license later, or do you need this before curating?

Many thanks again!
Best wishes,

Henk

[2020-10-26 08:43] jagru20 commented on #443
Dear Henk,

thanks for the hint to the paper. If we need more information, I will contact you via email.
For the license: We can tentatively publish the metadata without any license information and you can use the steps described [here](https://github.com/bweyers/HBPVisCatalogue/wiki/How-to-start-software-meta-data-curation%3F#update-curated-software) to initiate an update process when the license

[2020-10-30 08:16] HenkMutsaerts commented on #443
Yes, thanks, this sounds great!

Best wishes,
Henk

[2020-11-02 12:20] BrainModes opened #444 "openMINDS metadata creator"
[](https://github.com/bweyers/HBPVisCatalogue/files/5474926/MetaDataTemplateV2_openmindscreator.xlsx)
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=1616235979

[2020-11-03 10:12] bweyers commented on #160
Seems to be just a placeholder for testing the original catalogue.

[2020-11-03 10:12] #160 closed

[2020-11-03 10:23] jagru20 commented on #342
Developer checked information (communication via email, 28.09.2020) thus "sent for revision" is skipped. Continue with integration.

[2020-11-03 10:30] jagru20 commented on #444
Thank you for your submission.
Please note that we assume all persons named in the metadata form have consented to the processing and the publication of their names, E-Mail addresses and ORCID in the EBRAINS knowledge graph.

[2020-11-04 08:45] herr-zett opened #445 "SPM - Statistical Parametric Mapping"
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=1393355919

encountered during integration of #443

[2020-11-04 08:47] herr-zett opened #446 "dcm2niix v1.0.20201102"
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=1178989900

encountered during integration of #443

[2020-11-04 08:49] herr-zett opened #447 "LST: Lesion Segmentation Tool v3.0.0"
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=1633355157

encountered during integration of #443

[2020-11-04 08:51] herr-zett opened #448 "CAT - Computational Anatomy Toolbox"
encountered during integration of #443

[2020-11-06 12:43] gherardovarando commented on #381
I am not maintaining MultiMap and related code. It should still work but I am not planning on fixing bugs/improving etc.
The map visualization part is available through an Atom package https://atom.io/packages/map-viewer and
I am still maintaining the leaflet plugins (https://github.com/gherardovarando/leaflet-map-builder, https://github.com/gherardovarando/leaflet-csvtiles, https://github.com/ghe

[2020-11-06 12:45] gherardovarando commented on #381
MultiMap was based on electrongui (https://github.com/gherardovarando/electrongui) which is now completely outdated

[2020-11-06 12:53] gherardovarando commented on #381
The ImageJ object detection part is available directly as a ImageJ plugin https://github.com/ComputationalIntelligenceGroup/obj_detection_toolset

[2020-11-10 10:35] jagru20 commented on #382
Contacted developer

[2020-11-11 10:06] jens-br opened #449 "NEST Desktop Update"
NEST Desktop is released in version 2.5.0. Could you update the page? For completeness, I included the changes also in the requested document ([Template](https://seafile.rlp.net/f/eabba83e1edf4439a920/)).

[2020-11-11 10:40] jagru20 commented on #348
I think we should add separate Issues for the insite-nest-module and insite-access-node which are components of Insite.

[2020-11-11 12:43] jagru20 commented on #348
released: https://kg.ebrains.eu/search/?facet_type[0]=Software&q=insite#Software/eb0b86a5-eb49-4a87-9128-6ca592293218

[2020-11-11 12:43] #348 closed

[2020-11-11 13:42] oehrl commented on #348
@jagru20 In the next update (which should be released in the near future) these components will be merged into a single repository so I do not think that it is necessary to have separate issues for them.

[2020-11-11 22:53] CanWood commented on #432
Sorry, folks. Too little, too late. I just saw this mention.  What info were you after from me last month?

[2020-11-12 08:00] jagru20 commented on #432
Great to hear from you! That was it, thank you very much.

[2020-11-12 08:03] jagru20 commented on #348
Thanks for your answer. Will it be a single repo together with Insite or just the nest module and access node? If the latter is the case, we might list that single repository as a separate KG entry when it is ready.

[2020-11-12 08:15] jagru20 commented on #443
Dear @HenkMutsaerts,

we are now finished with collecting metadata for ExploreASL and in our opinion, the data in the spreadsheet is ready for the publication in EBRAINS knowledge graph. Before we do this, I would like you to have another look at it to see if you agree with what is about to be published. Let us now if you have any feedback.

Thanks and best wishes,

Jan

P.S.: When there is any up

[2020-11-12 10:12] jagru20 commented on #408
@juanjosegarcan, did you complete the revision process and agree with the information in the metadata sheet?

[2020-11-12 10:16] jagru20 commented on #314
The description has been extended significantly and the spreadsheet revised by the developer. Thus I suggest continuing integration.

[2020-11-13 07:44] PatriziaDuhr commented on #379
closed as it is general software

[2020-11-13 07:44] #379 closed

[2020-11-13 07:45] PatriziaDuhr commented on #380
closed as it is general software

[2020-11-13 07:45] #380 closed

[2020-11-13 12:16] odrobles opened #450 "Reviewed google spreadsheet"
We have reviewed and suggested changes under the column "Developer comments". There are things to change in a near future, but it can be done with another issue.

[2020-11-13 12:18] odrobles opened #451 "Reviewed ViSimpl google spreadsheat"
Changes and comments introduced in Developer comments column for NeuroTessMesh

[2020-11-13 12:31] odrobles opened #452 "Reviewed ViSimpl spreadsheet"
Introduced changes and comments through Developers Comments issues

[2020-11-13 13:37] jagru20 commented on #451
closing, as this is a comment on #408

[2020-11-13 13:37] #451 closed

[2020-11-13 13:37] jagru20 commented on #452
closing as this is a comment on #314

[2020-11-13 13:37] #452 closed

[2020-11-13 13:39] jagru20 commented on #450
For any updates, please use the procedure described in[ our wiki. ](https://github.com/bweyers/HBPVisCatalogue/wiki/How-to-start-software-meta-data-curation%3F#update-curated-software)

[2020-11-13 13:39] #450 closed

[2020-11-13 13:40] jagru20 commented on #408
developer left feedback, @PatriziaDuhr please check and continue integration

[2020-11-17 09:57] jagru20 commented on #449
https://docs.google.com/spreadsheets/d/1p3At9DXATJeUyeX_cvV_lRv8M54nCLe2F0g8X4PmIgw/edit#gid=0

[2020-11-17 12:27] jagru20 commented on #444
@BrainModes we have almost finished the curation of openMINDS metadata creator. Before we release the metadata into the knowledge graph, please have a last look at the spreadsheet and let us know, if you agree with the publication as-is or leave change requests in Column D (and comment on this issue when your revision is finished). Thanks!

[2020-11-17 13:48] BrainModes commented on #444
Thank you for curating. I made two small changes (Metedata->Metadata | removed "Graphical User Interface") and agree with publication. Thanks!

[2020-11-18 09:42] herr-zett commented on #449
@jagru20 @bweyers
The update includes two new components: NEST Simulator and NEST Server.

While I think that NEST Simulator still refers to issue #20, there's currently no issue regarding NEST Server. Is this a software that needs to be curated and is therefore in need of its own issue?

[2020-11-18 11:15] jens-br commented on #449
Since some structural changes were made to NEST Server, maybe [upcoming version of the documentation (pre-release)](https://github.com/sarakonradi/nest-simulator/blob/create_nest_server_page/doc/guides/nest_server.rst) could be of interest.

[2020-11-18 14:20] bweyers commented on #449
NEST Server is now a component of NEST Simulator. And NEST Simulator is NEST. Thus, no additional software need to be curated.

[2020-11-18 16:42] jagru20 commented on #314
Released

[2020-11-18 16:42] #314 closed

[2020-11-18 16:43] jagru20 commented on #408
Released

[2020-11-18 16:43] #408 closed

[2020-11-23 13:19] jagru20 commented on #449
released.

[2020-11-23 13:19] #449 closed

[2020-11-23 13:21] jagru20 commented on #444
released.

[2020-11-23 13:21] #444 closed

[2020-11-23 13:23] jagru20 commented on #358
closed due to a lack of information, thus not published in the KG. May be reopened on demand.

[2020-11-23 13:23] #358 closed

[2020-11-23 13:27] jagru20 commented on #342
released.

[2020-11-23 13:27] #342 closed

[2020-11-23 13:32] jagru20 commented on #327
This issue is closed, because the developers did not react to our request for revision.

[2020-11-23 13:32] #327 closed

[2020-11-23 13:55] jagru20 commented on #281
Developer does not react to request for revision. As there are unanswered questions, the metadata will not be published. The issue may be reopened on demand.

[2020-11-23 13:55] #281 closed

[2020-11-23 14:00] jagru20 commented on #317
To me, this appears to be middleware. Am I wrong?

[2020-11-23 14:02] bweyers commented on #317
Sounds reasonable to declare that as a middleware...

[2020-11-23 14:08] jagru20 commented on #310
The developer does not react to our request for revision. As the information seems to be quite comprehensive, I suggest continuing with integration.

[2020-11-23 14:11] jagru20 commented on #306
Developer does not react to request for revision. As there are unanswered questions, the metadata will not be published. The issue may be reopened on demand.

[2020-11-23 14:11] #306 closed

[2020-11-23 14:13] jagru20 commented on #305
Although the developer does not react to our request for revision, the information collected seems sufficiently comprehensive for integration.

[2020-11-23 14:27] jagru20 commented on #280
The developer does not react to our request for revision. The issue is closed and not integrated, as the description is not sufficient. The issue may be reopened on demand.

[2020-11-23 14:27] #280 closed

[2020-11-23 14:32] jagru20 commented on #92
The developer does not react to our request for revision. The issue is closed and not integrated, as the description is not sufficient. The issue may be reopened on demand.

[2020-11-23 14:32] #92 closed

[2020-11-23 14:38] jagru20 commented on #139
please integrate.

[2020-11-24 09:37] jagru20 commented on #364
The developer for now only wants the results from the software integrated into the knowledge graph. Thus this issue is closed and may be reopened on demand.

[2020-11-24 09:37] #364 closed

[2020-11-24 10:31] herr-zett commented on #364
Apparently, this software is already covered by issue #388

[2020-11-24 13:28] jagru20 commented on #425
@vg-lab, do you want SimPart to be integrated into the EBRAINS Knowledge Graph? If yes, please fill out this spreadsheet: https://docs.google.com/spreadsheets/d/1N9Ckmk8ylSyKqkxoVIcTv6r4PeE3NitCYi9Zp4xpxZA/edit?usp=sharing Thank you!

[2020-11-24 13:32] jagru20 commented on #318
Developer updated spreadsheet. Please continue integration.

[2020-11-24 13:35] jagru20 commented on #322
revision completed, please integrate.

[2020-11-24 13:39] jagru20 commented on #377
Dear Matthias,

we did not receive a reply on this topic yet. Is there any update?

Best regards

Jan

Von: Gründling, Jan
Gesendet: Freitag, 4. September 2020 13:34
An: 'matthias.duempelmann@uniklinik-freiburg.de' <matthias.duempelmann@uniklinik-freiburg.de>
Cc: 'bweyers/HBPVisCatalogue' <reply@reply.github.com>
Betreff: HBP Software Curation - Info request

Dear Matthias,

we are currently in th

[2020-11-24 13:40] jagru20 commented on #377
reminded developer

[2020-11-24 13:54] jagru20 commented on #357
contacted Mirco Nasuti

[2020-11-24 13:57] jagru20 commented on #354
contacted Mirco Nasuti and Ferath Kherif

[2020-11-24 14:00] jagru20 commented on #283
4th try of getting into touch with developer

[2020-11-24 14:03] jagru20 commented on #169
contacted developers

[2020-11-25 08:38] jagru20 commented on #360
contacted the remaining two authors as @Marigold is not working for HBP anymore and @ludovicc does not react. After two weeks without any reaction I suggest closing this issue.

[2020-11-25 14:38] herr-zett commented on #416
@jagru20 @bweyers
During integration into the KG the following problem arose when saving the instance:
Within the fields "Release Notes" and "Help" a slash "/" was added to the beginning of each line of the text that was entered.

[2020-11-26 09:00] xgui3783 commented on #345
@jagru20 should we change the title of the issue to v2.2.3, in accordance to the spreadsheet link?

I believe my colleague pavel had already made some changes to the spreadsheet. (how) should we inform you when we have made all the necessary corrections and ask for your review? Should we just comment here?

[2020-11-26 11:59] jagru20 commented on #345
@xgui3783  thanks for your comments. I have integrated your suggested changes and from our side, this is ready to be integrated into the KG now. If you agree, a comment here is totally fine.

[2020-12-01 12:38] jagru20 commented on #310
contacted developer for information about 4D neuroimaging input format. If there is no response within a week, I suggest closing this issue.

[2020-12-10 13:44] johannes-darms commented on #375
Hi @jagru20, sorry about the late response. I'm no longer working for Fraunhofer SCAI and hence cannot help you there.
You can contact Mr. Marc Jacobs [marc.jacobs@scai.fraunhofer.de] (https://github.com/MarcZimmermann). I'll be happy to help you.

If just checked the URL an the service is accessible and is working.

[2020-12-17 08:37] jagru20 commented on #291
released.

[2020-12-17 08:37] #291 closed

[2020-12-21 08:40] jagru20 commented on #416
@herr-zett the slash is added, because those fields expect an URL and thus change the entries into a relative path.

[2020-12-22 05:56] herr-zett commented on #416
@jagru20 As I can't provide URLs for the affected entries, shall I leave it as is?

[2020-12-22 11:19] jagru20 commented on #416
found a link. released!

[2020-12-22 11:19] #416 closed

[2021-01-05 10:12] jagru20 commented on #360
closed due to insufficient information and unresponsive contact persons. May be reopened on demand.

[2021-01-05 10:12] #360 closed

[2021-01-05 11:15] jagru20 commented on #443
released.

[2021-01-05 11:15] #443 closed

[2021-01-05 11:16] jagru20 commented on #353
released.

[2021-01-05 11:16] #353 closed

[2021-01-05 11:29] jagru20 commented on #322
released.

[2021-01-05 11:29] #322 closed

[2021-01-05 11:41] HenkMutsaerts commented on #443
Thanks all, and happy 2021!

[2021-01-05 11:48] jagru20 commented on #318
released.

[2021-01-05 11:48] #318 closed

[2021-01-05 11:50] jagru20 commented on #317
released.

[2021-01-05 11:50] #317 closed

[2021-01-05 11:52] jagru20 commented on #310
released.

[2021-01-05 11:52] #310 closed

[2021-01-05 11:53] jagru20 commented on #305
released.

[2021-01-05 11:53] #305 closed

[2021-01-05 11:59] jagru20 commented on #304
released.

[2021-01-05 11:59] #304 closed

[2021-01-05 12:04] jagru20 commented on #288
released.

[2021-01-05 12:04] #288 closed

[2021-01-05 12:06] jagru20 commented on #285
released.

[2021-01-05 12:06] #285 closed

[2021-01-05 12:07] jagru20 commented on #139
released.

[2021-01-05 12:07] #139 closed

[2021-01-08 13:01] jagru20 opened #453 "Arbor 0.5"
We received an update request for arbor ([KG-Entry](https://search.kg.ebrains.eu/instances/Software/80d205a9-ffb9-4afe-90b8-2f12819950ec)) for their new version 0.5.

@brenthuisman to keep the update process clean and to make sure all the changes made are correct, I suggest following our [Update procedure](https://github.com/bweyers/HBPVisCatalogue/wiki/How-to-start-software-meta-data-curation%3F#

[2021-01-08 13:35] brenthuisman commented on #453
@jagru20 Thanks, I couldn't find an update procedure on the KG itself!

Since I couldn't update the Google doc, please see the speadsheet attached. Update are with blue background and/or red text.
[Arbor v0.5.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/5787455/Arbor.v0.5.xlsx)

I think that's all, if not let me know :)

[2021-01-11 09:02] herr-zett commented on #453
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=437840375

@jagru20 I've copied the information provided by the developer into a new spreadsheet (link above) that should be alterable by everyone who has access to the link. Additionally, I've updated cell B31 (Software Features) to include data types.

[2021-01-11 10:02] brenthuisman commented on #453
Thanks, made a tiny update to B31.

[2021-01-19 10:12] jagru20 commented on #453
released

[2021-01-19 10:12] #453 closed

[2021-01-26 15:02] jagru20 commented on #345
released

[2021-01-26 15:02] #345 closed

[2021-02-11 05:56] herr-zett opened #454 "oneAPI Threading Building Blocks (oneTBB) 2021.1.1"
https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=75137396

Update of "Threading Building Blocks 2019 Update 9"
(KG Nexus-ID: softwarecatalog/software/software/v1.0.0/757b254e-eb6a-4789-9572-95e69e345467)

[2021-02-15 10:57] jagru20 opened #455 "Check Software Entities for missing repository links"
Below there is a List ( identifier | name) of software entities, that have no linked repository. @PatriziaDuhr, @herr-zett, could you please have a look at them and check why they might not have it? More important: If possible, please add the link and tick the entry below. Thank you!

- [ ] d8a3bea6-61c0-411c-9a72-9758e144ce9e | Neurolucida Version 2020.1.3
- [ ] 444beeff-67db-4526-af38-94dad8cbc0

[2021-02-15 11:35] jagru20 commented on #375
Contacted Marc Jacobs

[2021-02-16 10:43] jagru20 opened #456 "How to treat software without open repository"
We have to decide how we want to treat software piece that does not provide open access to the source code repository.
This is the case for some software components in the KG for different reasons (e.g., closed source, no public repo link provided) . I can think of the following options:

1. Do not integrate them
2. Link to the homepage/release channel instead of repository
3. Label the link to th

[2021-02-22 08:18] BrainModes commented on #325
Hello, it seems that the TVB Image Processing Pipeline has no card in KG. Can it please be added to KG?

There are cards for MRtrix3_connectome

https://search.kg.ebrains.eu/instances/Software/df2f8f54-af22-4ba3-b381-f03f8f2e89af

and also for fmriprep

https://search.kg.ebrains.eu/instances/Software/7de4c41f-d6f8-4a45-9480-c25ab1ee6772

but these two Docker container images are only components of

[2021-02-22 14:05] jagru20 commented on #325
Hello, please note two things:
1. The display of component software in the software card is not yet supported by the KG-search frontend, although the link to it is registered with the software entity.
2. Components can only be linked if they exist as a separate software card in the KG, so deleting the `MRtrix3_connectome` and `fmriprep` card will result in unwanted behavior. Thus I strongly recomm

[2021-02-22 14:30] #429 closed

[2021-02-22 17:04] herr-zett commented on #455
Regarding **Neurolucida Version 2020.1.3** (_d8a3bea6-61c0-411c-9a72-9758e144ce9e_) and **Neurolucida 2019** (_98782c4f-454b-4cc6-be6e-f8b407fd70cd_):
These are proprietary software that can only be [purchased ](https://www.mbfbioscience.com/neurolucida). Therefore the source code is not openly accessible

[2021-02-22 17:10] herr-zett commented on #455
Regarding **DC Explorer 1.0** (*444beeff-67db-4526-af38-94dad8cbc021*):
The [homepage](https://cajalbbp.es/dcexplorer_web/#started) only provides a download link for an executable file. The actual source code doesn't seem to be openly accessible.

[2021-02-22 17:29] herr-zett commented on #455
Regarding **ChemBioServer 2** (*8453a976-7141-48e7-a785-8ebaefa433da*):
The [scientific paper](https://doi.org/10.1093/bioinformatics/btz976) only provides the link to the [homepage](http://chembioserver.vi-seem.eu/) of this web application. An openly accessible repository cannot be found.

[2021-02-22 17:44] herr-zett commented on #455
Regarding **Synaptic plasticity 0.1** (*3826b9cb-eefe-4752-9bcb-3048e803f94b*):
The links to the [homepage ](https://collab.humanbrainproject.eu/#/collab/1655/nav/66852) and [documentation ](https://collab.humanbrainproject.eu/#/collab/1655/nav/18580) redirect to the HBP Collaboratory. Instead of linking to a software entity, it redirects to the subsection "Online Use Case".
The actual entry to th

[2021-02-22 18:03] herr-zett commented on #455
Regarding **TVB Brain Atlas Viewer 1.0** (*30783eba-3c21-46a1-9703-e949ba306f30*):
The [website](https://www.brainsimulation.org/atlasweb/) to this web application doesn't seem to provide information about it's source code. I couldn't find a matching repository within the [BrainModes](https://github.com/BrainModes?tab=repositories) GitHub account, either.

[2021-02-23 07:25] PatriziaDuhr commented on #455
Regarding **EBRAINS Knowledge Graph v2.3** (0d9249b7-3302-4a84-9c8e-1820658db298):
The developer has commented that the source code will be fully accessible with the next release, which is why it has not been provided with this release yet.

[2021-02-23 07:35] PatriziaDuhr commented on #455
Regarding **Central Nervous System bioactive compounds beta** (d6171faa-e005-42f7-a681-23f2c0a588bb):
I can't find any information on the [software's website](http://mmb.irbbarcelona.org/webdev/slim/CNS/public/) or on the [developers' website](https://mmb.irbbarcelona.org/www/). Also on github I can't find any repositories with the mentioned authors.

[2021-02-24 10:47] BrainModes commented on #325
Hi and thanks for your reply.

From my perspective it is not necessary that there exist software cards "MRtrix3_connectome" and "fmriprep" or that there are links from the TVB Pipeline software card to such cards. These are third-party packages (not developed by HBP/EBRAINS) that themselves consist of workflows that combine several other software packages like FreeSurfer, FSL, MRtrix, etc.

With "

[2021-02-24 10:58] jagru20 opened #457 "Frites 0.3.7"
Please integrate `Frites 0.3.7`

https://docs.google.com/spreadsheets/d/15fZnUsMmNZdUHpoj5cJp6C_FUexWjy212TmPrK01J5E/edit?usp=sharing

[2021-02-24 12:34] jagru20 commented on #325
In fact, we don't seem to have communicated clearly enough what exactly distinguishes a component. Also in fact, this is precisely the question you identified as still open: "Can it be executed independently?" We mistakenly assumed that you filled out the spreadsheet without comment because that would be the case. Sorry if this has caused any inconvenience. To avoid any further misunderstandings,

[2021-02-24 12:41] BrainModes commented on #325
Yes, this is all correct. Many thanks for the clarification! Thank you.

[2021-02-24 13:42] brovelli commented on #457
Dear all,
I have finished updating the information about Frites into the spreadsheet xls file.
Best,
Andrea

[2021-02-24 13:47] EtienneCmb commented on #457
Actually, the latest version is not `0.3.7` but `0.3.8`. We modified the spreadsheet accordingly.

Thank you in advance,

Best,
Etienne

[2021-02-24 14:23] jagru20 commented on #457
@EtienneCmb @brovelli Thank you for providing the information. Please note that we assume all persons named in the metadata form have endorsed the processing and the publication of their names, E-Mail addresses and ORCID in the EBRAINS knowledge graph.
In the frites GitHub repository is mentioned another contributor, is he not mentioned as an author in the spreadsheet on purpose?
A side note: In t

[2021-02-24 14:46] brovelli commented on #457
Dear @jagru20 ,
As soon as we will have a biorxiv preprint, we will share it.
Concerning the 3rd contributor Ruggero Basanisi, there is no real reason. He is a PhD student in my group, but he will finish his PhD this year. Shall we add him as well?
The main developer is Etienne Combrisson @EtienneCmb

[2021-02-24 15:02] jagru20 commented on #457
Dear @brovelli,
actually we only list digital identifiers, not files. So just let us know which DOI, RRID or similar identifier you want to register as the publication related to this software.
For the third contributor: Most of the time, we list all persons that contributed to the software unless there is a specific reason, not to do so. As I do not know if there is such a reason from your side,

[2021-02-24 15:04] EtienneCmb commented on #457
Dear @jagru20,

Actually the list of contributors extend to more than three peoples (see [here](https://brainets.github.io/frites/community.html#authors-and-contributors) the complete list). But for authors, I would say that it's mainly Andrea and I.

[2021-02-24 15:10] jagru20 commented on #455
So the next step is trying to collect the links from the commented entries. To track the progress, I will update the following table continuously.
| No. | Name                                            | Status |
|-----|-------------------------------------------------|--------|
|  1   | Neurolucida Version 2020.1.3                    |        |
|   2  | Neurolucida 2019

[2021-02-24 15:15] jagru20 commented on #421
Closed Without release. see discussion in #325

[2021-02-24 15:15] #421 closed

[2021-02-24 15:17] brovelli commented on #457
The DOI will be fine.
Sorry for the naive question, but do **we** have to request a DOI or are you going to do it?

[2021-02-24 16:40] jagru20 commented on #457
@EtienneCmb So then we keep the two of you in the list.
Regarding the DOIs: I think I was a bit unclear at that point. What I wanted to ask for was that you tell us the Identifier (which could for example be a DOI) that you receive from the place where you publish the paper.

I try to differentiate this a bit more cleary. We need to distinguish between two different DOIs:
1. The DOI for the public

[2021-02-24 17:15] brovelli commented on #457
OK, I get it.
1. Publication DOI: we will send you the DOI of the associated paper as soon as we get it from the publisher.
2. Metadata DOI: yes please, I'd like to receive it.

Thanks

[2021-02-24 19:00] jagru20 commented on #400
Dear @BerndSchuller,

 I have a question regarding the license of Unicore. You state that it is under BSD-License but as far as I know, that is not a spceific license but the term "BSD-License" refers to the set of all BSD-Licenses. Neither on Sourceforge nor your webpage I was able to find out which one exactly you mean. Different repos in the Unicore GitHub Account refer to BSD-2, but not all of

[2021-02-24 19:07] BerndSchuller commented on #400
Hi Jan,

We prefer the 2-clause BSD, as in https://github.com/UNICORE-EU/server-bundle/blob/master/LICENSE

Thanks for the note about the inconsistencies in the files in the repos, I'll check and get these sorted. Since historically different people have added license files at different points in time, different formulations do exist. The "spirit" should be the same everywhere though.

Best regard

[2021-02-24 19:10] jagru20 commented on #427
Dear @AlexandrePsq and @chrplr,

in the information you gave us at the time of the curation, you stated that the Source Code of LePetitPrince is under BSD-License. For the migration to a new meta data schema, we need information about which BSD-License exactly you mean, as the term "BSD-License" refers to the set of all BSD Licenses. Could you please provide this information? Maybe it is worth the

[2021-02-24 19:16] jagru20 commented on #400
Hi Bernd,
Thank you for the quick answer and the clarification! I figured there was such a reason for the inconsistencies, I totally understand that.

Best
Jan

[2021-02-25 11:02] jagru20 commented on #189
Dear Stefan @eile,

we are currently in the process to add metadata on software to the HBP Knowledge Graph. The major purpose is threefold: First, we would like to enable users to search for software additionally to data etc. through the knowledge graph search interface. Second, this enables to further map software to the curated data sets in the knowledge graph, and third, we plan to use this dat

[2021-02-25 11:12] jagru20 commented on #332
Contacted the support mail close this issue after another week without response

[2021-02-25 11:13] jagru20 commented on #349
closed due to lack of information for integration.

[2021-02-25 11:13] #349 closed

[2021-02-25 11:19] jagru20 commented on #422
closed due to insufficient information

[2021-02-25 11:19] #422 closed

[2021-02-25 11:23] jagru20 commented on #351
Is this a duplicate of #350? The source code entry links to the same repository.

[2021-02-25 11:25] jagru20 commented on #351
Oh I get it. This one is the umbrella mentioned in [here](https://github.com/bweyers/HBPVisCatalogue/issues/294#issuecomment-684806468)

[2021-02-25 11:30] jagru20 commented on #425
As we did not receive an answer, we assume there is no interest in integrating this.

[2021-02-25 11:30] #425 closed

[2021-02-25 12:53] jagru20 commented on #457
released: https://search.kg.ebrains.eu/instances/Software/453d65d6-1b12-4db2-93f0-f0b8f68da0f3?group=curated

[2021-02-25 12:53] #457 closed

[2021-02-26 09:00] jagru20 commented on #456
The more I think about it, the more I lean towards option 1, because I find that otherwise the knowledge graph runs the risk of becoming a free advertising platform for paid software.

[2021-02-26 09:16] bweyers commented on #456
This is acutally a decision I would like to bring to the knowledge of the curation team as this might have a certain impact on the general availability of software meta data in the KG...

[2021-02-26 12:44] herr-zett commented on #325
@jagru20 Within the KG the links to software entities #421, #418, #419, declaring them as components of #325, have been removed

[2021-02-26 13:26] jagru20 commented on #325
@herr-zett thanks! released.

[2021-02-26 13:26] #325 closed

[2021-03-02 07:24] PatriziaDuhr commented on #434
added citation to spreadsheet and KG

[2021-03-02 07:49] PatriziaDuhr opened #458 "TVB-HPC v1.0-RC1"
update to [TVB-HPC v1.0-beta](https://github.com/bweyers/HBPVisCatalogue/issues/373)

[Spreadsheet](https://docs.google.com/spreadsheets/d/18z8pfCOEWdiPq8SiybBa5GRa71h_EP8DS_0R_0yGdkU/edit?usp=sharing)

[2021-03-02 09:53] PatriziaDuhr opened #459 "fastpli v1.1.0a6"
update to [fastpli 0.9.8](https://github.com/bweyers/HBPVisCatalogue/issues/370)

[Spreadsheet](https://docs.google.com/spreadsheets/d/1i3RtJ0tIUV3zK5JUC5SoEH1s_i7kbIn1gp_PzJcuwCA/edit?usp=sharing)

[2021-03-02 10:16] jagru20 commented on #459
@fmatuschke, feel free to trigger the [metadata update](https://github.com/bweyers/HBPVisCatalogue/wiki/How-to-start-software-meta-data-curation%3F#update-curated-software) when you want a new version of fastpli integrated into the knowledge graph.

closing this issue because there are frequent changes made to version 1.1.0

[2021-03-02 10:16] #459 closed

[2021-03-03 09:19] jagru20 commented on #89
This one is outdated, I suggest updating it to the new version (2.8) and sent the resulting changes for revision.

[2021-03-04 09:07] herr-zett commented on #89
@jagru20 @bweyers
PyCOMPSs is described as a "Python Binding for COMP Superscalar (COMPSs) Runtime" and doesn't really have a documentation of its own. Both, the [official website](https://www.bsc.es/research-and-development/software-and-apps/software-list/comp-superscalar/) as well as [documentation](https://compss-doc.readthedocs.io/en/stable/) linked in the [PyCOMPs project description](https:/

[2021-03-09 10:20] jagru20 commented on #89
Dear @bsc-wdc,

we are about to transfer your software *PyCOMPSs* from the HBP Collaboratory Software Catalogue into the new [EBRAINS knowledge graph](https://search.kg.ebrains.eu/?facet_type[0]=Software). We noticed, that *PyCOMPSs* is a part of COMPSs and wondered, if you want only PyCOMPSs to be available in the KG or also (maybe only) COMPSs. Could you please give us quick feedback on this?

T

[2021-03-16 11:59] mdenker opened #460 "Excel sheet for contributions is write-protected"
The Excel sheet at at https://github.com/bweyers/HBPVisCatalogue/wiki/Templates for software contributions to the KG has all cells password protected and is not editable.

[2021-03-16 12:08] jagru20 commented on #460
Thanks for the hint and sorry for the inconvenience. It should work now.

[2021-03-16 13:22] mdenker opened #461 "Viziphant"
[Template_openMINDS_Visiphant.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/6149237/Template_openMINDS_Visiphant.xlsx)

[2021-03-16 13:23] mdenker commented on #460
Thanks, works.

[2021-03-16 13:23] #460 closed

[2021-03-22 15:09] ftadel opened #462 "Brainstorm"
[Template_openMINDS_brainstorm.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/6183209/Template_openMINDS_brainstorm.xlsx)

[2021-03-29 16:01] Helveg opened #463 "Formats specification/examples lacking for attribute descriptions"
There are no specific formats specified for the attributes listed [here](https://github.com/bweyers/HBPVisCatalogue/wiki/Attribute-Descriptions). Some examples are dates: DD-MM-YYYY, DD/MM/YYYY? Or multiple values: are we allowed to specify multiple values, comma separated, one on each line .. ?

A non-exhaustive list of attributes where I had difficulty with the format:

* `Digital Identifier`: i

[2021-03-29 16:04] Helveg opened #464 "Brain Scaffold Builder"
[Template_openMINDS (1).xlsx](https://github.com/bweyers/HBPVisCatalogue/files/6222995/Template_openMINDS.1.xlsx)

[2021-03-30 07:52] jagru20 commented on #46
has become obsolete

[2021-03-30 07:52] #46 closed

[2021-04-06 07:16] espenhgn opened #465 "LFPy v2.2.1"
[Template_openMINDS.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/6262785/Template_openMINDS.xlsx)

[2021-04-06 10:25] jagru20 commented on #462
@ftadel We need to enter a Version Identifier (e.g., 1.0.0) to specify, what state of the software was used to integrate its metadata into the knowledge graph. I strongly recommend establishing (pre-)release labels in the github repository. However, if there is no version number or such, we will use the date of the day we integrate the metadata into the knowledge graph. I just want you to be aware

[2021-04-06 11:05] ftadel commented on #462
This is correct: this is how we identify the versions of the software (same as FieldTrip).

![image](https://user-images.githubusercontent.com/6920058/113701718-ceb4f480-96d8-11eb-8251-e3fcf30df983.png)

[2021-04-08 09:55] rsirvent opened #466 "COMPSs 2.9"
[Template_openMINDS_COMPSs.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/6277745/Template_openMINDS_COMPSs.xlsx)

[2021-04-09 09:08] jagru20 commented on #463
Dear @Helveg,

thanks for pointing to these issues. Some further information on the formats are given in the links in the respective cell containing the name of the property. This links to the [openMINDS documentation](https://humanbrainproject.github.io/openMINDS/core/schemas/v3/products/softwareVersion.html). As stated in one of my previous mails, this is still subject to change but can be used

[2021-04-09 09:12] jagru20 opened #467 "Update wiki and templates for input formats"
As mentioned in #463, we should expand the attribute descriptions in our wiki by the formats in which we expect the input.

[2021-04-09 09:13] jagru20 commented on #466
related to #89

[2021-04-13 05:48] alex4200 opened #468 "morphIO v3.3.0"
[Template_morphio.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/6301487/Template_morphio.xlsx)

[2021-04-13 05:55] alex4200 opened #469 "neurom"
[Template_neurom.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/6301526/Template_neurom.xlsx)

[2021-04-13 06:05] alex4200 opened #470 "NeuroR v1.3.0"
[Template_neuror.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/6301569/Template_neuror.xlsx)

[2021-04-13 06:14] alex4200 opened #471 "morph-tool"
[Template_morphtool.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/6301609/Template_morphtool.xlsx)

[2021-04-16 15:25] manikbh opened #472 "IntrAnat"
[Template_openMINDS_IntrAnat.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/6326209/Template_openMINDS_IntrAnat.xlsx)

[2021-04-16 15:26] manikbh opened #473 "ImaGIN"
[Template_openMINDS_ImaGIN.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/6326215/Template_openMINDS_ImaGIN.xlsx)

[2021-04-19 09:19] jagru20 commented on #89
@herr-zett Developer left feedback. Please check and integrate as PyCOMPSs. The developer wants PyCOMPSs and COMPSs integrated seperately.

[2021-04-20 06:08] herr-zett commented on #89
@jagru20 @bweyers In the new KG the field "Full Documentation" has to be filled with a file or DOI. Is a URL (in this case [this one](https://pycompss.readthedocs.io/en/2.8/index.html)) no longer allowed?

[2021-04-20 07:34] jagru20 commented on #89
Thanks for pointing this out. There are discussions ongoing on how to cope with this. For now please integrate without the docs, we will have to recurate that later.

[2021-04-26 10:01] Visabado opened #474 "hal-cgp v0.3.0"
[Template_openMINDS_hal-cgp_26042021.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/6377191/Template_openMINDS_hal-cgp_26042021.xlsx)

[2021-04-26 10:03] Visabado opened #475 "dopp v0.0.1"
[Template_openMINDS_dopp_26042021.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/6377022/Template_openMINDS_dopp_26042021.xlsx)

[2021-05-06 07:55] jagru20 commented on #381
closing as MultiMap is not actively developed anymore

[2021-05-06 07:55] #381 closed

[2021-05-10 08:06] Visabado opened #476 "NEAT v0.9.1"
[Template_openMINDS_NEAT.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/6450467/Template_openMINDS_NEAT.xlsx)

[2021-05-12 14:50] fmatuschke opened #477 "fastpli v1.1.0"
Hi, I have updated the spreadsheet to the new version release
https://docs.google.com/spreadsheets/d/1i3RtJ0tIUV3zK5JUC5SoEH1s_i7kbIn1gp_PzJcuwCA/edit?usp=sharing

[2021-05-19 11:52] Hjorthmedh opened #478 "Snudda 1.1"
Upcoming release of Snudda 1.1

[](https://github.com/bweyers/HBPVisCatalogue/files/6508399/Template_openMINDS_Snudda-1.1.xlsx)
[Spreadsheet](https://docs.google.com/spreadsheets/d/1rJigjXduSdPVHPo1K-7TaTaW7gZkIJfs8vzKKfAOKzc/edit#gid=1423678363)

[2021-05-25 11:10] dkeller9 opened #479 "Subcellular WebApp v1"
[Template_openMINDS_webapp.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/6538753/Template_openMINDS_webapp.xlsx)

[2021-06-21 08:03] jagru20 commented on #187
Dear @erikdsj,

we are in the process of adding metadata on your software to the [HBP Knowledge Graph](https://search.kg.ebrains.eu/?facet_type[0]=Software). We are about to add STEPS 3.5.0 to it and would like to ask you to check the collected metadata in the [spreadsheet ](https://docs.google.com/spreadsheets/d/16UT4P77wHKbVjqaRaAZTx73VxuxXAzlRHCGvbPtLD-g/edit#gid=1140310103) so that we can proc

[2021-06-25 11:47] brenthuisman opened #480 "Arbor v0.5.2"
[Arbor v0.5.2.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/6715899/Arbor.v0.5.2.xlsx)

[2021-07-08 06:54] herr-zett commented on #461
https://docs.google.com/spreadsheets/d/1DAhLSbI6-pgFhGv1vD8ALbfT5uaMHdGKoj25JJyNiqU/edit#gid=530396787

Updated the spreadsheet to match openMinds v2.0.0

[2021-07-22 05:44] herr-zett commented on #462
https://docs.google.com/spreadsheets/d/1c2ARRkJmymMDOtjfP4ELLQ0QPU9GdWykrMc0Qf6Ykpc/edit#gid=154442664

[2021-08-05 05:14] herr-zett commented on #466
https://docs.google.com/spreadsheets/d/12ARVXD0G5EPHeUuIPtxUQKTpFRW5oVfIpCzDOuhG-F4/edit#gid=1907381003
(new spreadsheet that matches the structure of openMINDS v2)

Updated to version 2.9

[2021-08-05 06:15] herr-zett commented on #468
https://docs.google.com/spreadsheets/d/11tl0dynCAOmkgZYQGQL0JB6FBGGE8t_2u-tSXC6NDkg/edit#gid=444554846
(new spreadsheet that matches the structure of openMINDS v2)

[2021-08-23 09:32] legouee opened #481 "Neo 0.9.0"
[https://docs.google.com/spreadsheets/d/1ACKd_gMj4Qj7ECmmib6TjZsso0SXGqHmGRcSzU_ZJow/edit#gid=669892887](https://docs.google.com/spreadsheets/d/1ACKd_gMj4Qj7ECmmib6TjZsso0SXGqHmGRcSzU_ZJow/edit#gid=669892887)

[2021-08-23 09:33] legouee opened #482 "Neo 0.10.0"
[https://docs.google.com/spreadsheets/d/1TzB-ItNnUk680-XEkrXQD_9JLaGslnhhdVA1RUCYUTs/edit#gid=669892887](https://docs.google.com/spreadsheets/d/1TzB-ItNnUk680-XEkrXQD_9JLaGslnhhdVA1RUCYUTs/edit#gid=669892887)

[2021-08-31 10:13] jagru20 commented on #189
I think we can start integrating this, as the information seems to be sufficient, although the contact person did not respond to our request.

[2021-08-31 10:44] jagru20 commented on #283
This is closed due to insufficient Information and the lack of response when attempting to get into touch with developers.

[2021-08-31 10:44] #283 closed

[2021-08-31 10:45] jagru20 commented on #169
Closed due to insufficient information and irresponsive contact persons.

[2021-08-31 10:45] #169 closed

[2021-08-31 10:50] jagru20 commented on #187
developer left feedback. also, the current version is 3.6.0 we should integrate that one then.

[2021-08-31 13:03] PatriziaDuhr commented on #465
Spreadsheet: https://docs.google.com/spreadsheets/d/1cSAWbnXAw2aKfQgfM67upn22T0P_D5WfJQlx9mQ3DC0/edit?usp=sharing

[2021-09-01 09:51] herr-zett commented on #187
Dear @erikdsj,

to finalize the integration of your software into the HBP Knowledge Graph, we need specific information about the funding of the software. For now, we only know that it is funded by the HBP. Could you please specify which grant agreement(s) apply to your software?

Daniel
HBP Software Curation Team

[2021-09-02 01:25] erikdsj commented on #187
STEPS development is also funded by the Okinawa Institute of Science and Technology Graduate University.

Best regards,

Erik De Schutter

[2021-09-02 12:18] jagru20 commented on #187
Dear @erikdsj,

for curation quality purposes we want to include the Grant aggreement numbers for at least the HBP funding. Please provide this so we can continue integrating STEPS into EBRAINS.

Thanks in advance

Jan Gründling
Software Curation

[2021-09-08 07:59] herr-zett commented on #472
[Spreadsheet according to openMINDS v2.0.0](https://docs.google.com/spreadsheets/d/1HsB25l9KhPweBd9kl1LQfpPY4Ej3PKBrvaOe10G0CuI/edit#gid=516196152)

[2021-09-16 09:42] PatriziaDuhr commented on #469
Spreadsheet: https://docs.google.com/spreadsheets/d/1bZrOGSz0fe0hSgHIwir47Bvuyrve0wjrCUcaIXW8sMY/edit?usp=sharing

[2021-09-21 10:05] jagru20 opened #483 "Delete "hasComponent" from template"
We will not use the hasComponent property in the future anymore, so the spreadsheet template needs to be updated accordingly.

[2021-09-22 09:09] herr-zett commented on #483
Done

[2021-09-22 09:09] #483 closed

[2021-10-14 15:23] Majpuc opened #485 "New version of the Nutil Software v0.7.0"
Hi,

We have a new version https://docs.google.com/spreadsheets/d/1rwiraz0yZsNgt8cd24_pXypSRvSMJr3nvsURQUkJF0M/edit?usp=sharing

Thanks!

[2021-11-02 07:53] herr-zett commented on #477
Adopted changes in a new [Spreadsheet](https://docs.google.com/spreadsheets/d/1TSWLTSf6iHHIvOVt75FoZgW6yll0S96XI2tENoEJmmM/edit#gid=1893637458) that follows the [openMINDS v2.0.0](https://humanbrainproject.github.io/openMINDS/v2.0.0/) standard

[2021-11-09 09:41] herr-zett commented on #479
Adopted changes in a new [Spreadsheet](https://docs.google.com/spreadsheets/d/1jgqr2TAmzt9zCM_aChBnZe6saaxtnu2-mYtkQbyOJI4/edit#gid=611727285) that follows the [openMINDS v2.0.0](https://humanbrainproject.github.io/openMINDS/v2.0.0/) standard

[2021-11-15 08:56] herr-zett commented on #480
Added an updated instance to the KnowledgeGraph.
@jagru20 For now it was not possible to add new instances of file formats and programming languages to the KnowledgeGraph, which are necessary to complete the updated instance of Arbor. I will try it another time as I don't really know what caused the problem.

[2021-11-15 10:44] jagru20 commented on #480
@herr-zett Programming languages as well as input/output formats (i.e. contenttypes) are controlled terms, therefore creating new ones requires generating JSONLD files that need to be pushed to the respective openMINDS GitHub repository.

Regarding the file formats: @brenthuisman could you help by stating more precisely, which File specification you mean with NMODL and SWC?

Regarding the programm

[2021-11-17 17:33] brenthuisman commented on #480
Both NMODL and SWC are (in)famously not properly specified, yet the two single most used 'formats' in computational neuroscience. Welcome to our pain ;)

Re CUDA: I think it's usually described as a dialect. You'll need a compiler that understands it, and you need to know which parts of C(++) that CUDA compiler does not understand (which used to be quite a bit). Therefore, it tends to be listed se

[2021-11-29 21:05] jagru20 commented on #479
Dear @dkeller9, we have checked on the metadata you provided and collected it in a spreadsheet, alongside some comments. We are now about to integrate your data into the EBRAINS Knowledge Graph, so please double-check if all information is correct and complete. We might come back to you in the near future to ask about the specification of input or output formats, if we do not have them in our repe

[2021-11-29 21:06] jagru20 commented on #477
Dear @fmatuschke, we have checked on the metadata you provided and collected it in a [spreadsheet](https://docs.google.com/spreadsheets/d/1TSWLTSf6iHHIvOVt75FoZgW6yll0S96XI2tENoEJmmM/edit#gid=1893637458), alongside some comments. We are now about to integrate your data into the EBRAINS Knowledge Graph, so please double-check if all information is correct and complete. We might come back to you in

[2021-11-29 21:07] jagru20 commented on #476
Dear @Visabado, we have checked on the metadata you provided and collected it in a [spreadsheet](https://docs.google.com/spreadsheets/d/1VmPLk8GlEfCbKinByoD28w71rAE6gceDz5pHw4j2Rn0/edit?usp=sharing), alongside some comments. We are now about to integrate your data into the EBRAINS Knowledge Graph, so please double-check if all information is correct and complete. We might come back to you in the n

[2021-11-29 21:08] jagru20 commented on #475
Dear @Visabado, we have checked on the metadata you provided and collected it in a [spreadsheet](https://docs.google.com/spreadsheets/d/1TItxGx0oRyAx6zyIX0O5KygPb1GMGX7OCkkNlQsKXOs/edit?usp=sharing), alongside some comments. We are now about to integrate your data into the EBRAINS Knowledge Graph, so please double-check if all information is correct and complete. We might come back to you in the n

[2021-11-29 21:09] jagru20 commented on #474
Dear @Visabado, we have checked on the metadata you provided and collected it in a [spreadsheet](https://docs.google.com/spreadsheets/d/1UhpepYdEbeKBekKoTBm69ZKvImFAC929ZDa-D1GnrE0/edit#gid=854414535), alongside some comments. We are now about to integrate your data into the EBRAINS Knowledge Graph, so please double-check if all information is correct and complete. We might come back to you in the

[2021-11-29 21:09] jagru20 commented on #473
Dear @manikbh, we have checked on the metadata you provided and collected it in a [spreadsheet](https://docs.google.com/spreadsheets/d/1vWJFvEgBNdXfHQgF-8BB2AZ5PZjMsEqfSATItQ2Nwt8/edit?usp=sharing), alongside some comments. We are now about to integrate your data into the EBRAINS Knowledge Graph, so please double-check if all information is correct and complete. We might come back to you in the ne

[2021-11-29 21:11] jagru20 commented on #472
Dear @manikbh, we have checked on the metadata you provided and collected it in a [spreadsheet](https://docs.google.com/spreadsheets/d/1HsB25l9KhPweBd9kl1LQfpPY4Ej3PKBrvaOe10G0CuI/edit#gid=516196152), alongside some comments. We are now about to integrate your data into the EBRAINS Knowledge Graph, so please double-check if all information is correct and complete. We might come back to you in the

[2021-11-29 21:11] jagru20 commented on #471
Dear @alex4200, we have checked on the metadata you provided and collected it in a [spreadsheet](https://docs.google.com/spreadsheets/d/1mfRptdmN09Be791fqisvHC6kK2J3lApOKDZG5wll_lw/edit?usp=sharing), alongside some comments. We are now about to integrate your data into the EBRAINS Knowledge Graph, so please double-check if all information is correct and complete. We might come back to you in the n

[2021-11-29 21:12] jagru20 commented on #470
Dear @alex4200, we have checked on the metadata you provided and collected it in a [spreadsheet](https://docs.google.com/spreadsheets/d/1oNs2IXfmexqM79CJ2n28An9bxVPAOo3Z-ttWqinVcvk/edit#gid=1413791735), alongside some comments. We are now about to integrate your data into the EBRAINS Knowledge Graph, so please double-check if all information is correct and complete. We might come back to you in th

[2021-11-29 21:13] jagru20 commented on #469
Dear @alex4200, we have checked on the metadata you provided and collected it in a [spreadsheet](https://docs.google.com/spreadsheets/d/1bZrOGSz0fe0hSgHIwir47Bvuyrve0wjrCUcaIXW8sMY/edit?usp=sharing), alongside some comments. We are now about to integrate your data into the EBRAINS Knowledge Graph, so please double-check if all information is correct and complete. We might come back to you in the n

[2021-11-29 21:28] jagru20 commented on #468
Dear @alex4200, we have checked on the metadata you provided and collected it in a [spreadsheet](https://docs.google.com/spreadsheets/d/11tl0dynCAOmkgZYQGQL0JB6FBGGE8t_2u-tSXC6NDkg/edit#gid=444554846), alongside some comments. We are now about to integrate your data into the EBRAINS Knowledge Graph, so please double-check if all information is correct and complete. We might come back to you in the

[2021-11-29 21:29] jagru20 commented on #466
Dear @rsirvent, we have checked on the metadata you provided and collected it in a [spreadsheet](https://docs.google.com/spreadsheets/d/12ARVXD0G5EPHeUuIPtxUQKTpFRW5oVfIpCzDOuhG-F4/edit#gid=1907381003), alongside some comments. We are now about to integrate your data into the EBRAINS Knowledge Graph, so please double-check if all information is correct and complete. We might come back to you in th

[2021-11-29 21:31] jagru20 commented on #465
Dear @espenhgn, we have checked on the metadata you provided and collected it in a [spreadsheet](https://docs.google.com/spreadsheets/d/1cSAWbnXAw2aKfQgfM67upn22T0P_D5WfJQlx9mQ3DC0/edit?usp=sharing), alongside some comments. We are now about to integrate your data into the EBRAINS Knowledge Graph, so please double-check if all information is correct and complete. We might come back to you in the n

[2021-11-29 21:32] jagru20 commented on #462
Dear @ftadel, we have checked on the metadata you provided and collected it in a [spreadsheet](https://docs.google.com/spreadsheets/d/1c2ARRkJmymMDOtjfP4ELLQ0QPU9GdWykrMc0Qf6Ykpc/edit#gid=154442664), alongside some comments. We are now about to integrate your data into the EBRAINS Knowledge Graph, so please double-check if all information is correct and complete. We might come back to you in the n

[2021-11-29 21:34] jagru20 commented on #461
Dear @mdenker, we have checked on the metadata you provided and collected it in a [spreadsheet](https://docs.google.com/spreadsheets/d/1DAhLSbI6-pgFhGv1vD8ALbfT5uaMHdGKoj25JJyNiqU/edit#gid=530396787), alongside some comments. We are now about to integrate your data into the EBRAINS Knowledge Graph, so please double-check if all information is correct and complete. We might come back to you in the

[2021-11-29 21:36] jagru20 commented on #454
@herr-zett please migrate the spreadsheet to openMINDS

[2021-11-30 09:11] ftadel commented on #462
Please remove Martin Cousineau from the authors, he's not part of the development team anymore.

Note that we don't recommend using outdated versions (the one you included is from July 2021...) and we won't provide support for it.
Just like FieldTrip, we don't distribute "stable" versions of the software - the latest is always supposed to be the best/recommended.

[2021-11-30 11:35] espenhgn commented on #465
Hi. Please proceed with the process.

[2021-11-30 11:51] alex4200 commented on #471
Hello @jagru20, the info for morph-tool in the spreadsheet has been updated and seems to be up-to-date.

[2021-11-30 11:51] alex4200 commented on #469
Hello @jagru20 , the info for neurom in the spreadsheet has been updated and seems to be up-to-date.

[2021-12-01 10:16] jagru20 commented on #462
I do not know FieldTrip, but we are not curating outdated versions, we are curating metadata on that version that a developer provides us in their curation request. As I mentioned in one of the comments above: If there is no version number provided like in this case, we use the point in time when we release the Knowledge Graph entry to public as a version Identifier. That suits such cases quite we

[2021-12-01 10:35] #463 closed

[2021-12-01 10:35] #467 closed

[2021-12-01 10:54] ftadel commented on #462
I'm not sure I understand what the logic is to document the update description of one random time point in your knowledge graph if you ask your users to update Brainstorm. It feels to me like documenting a software by the last commit message.
Can you set this "version innovation" field to the URL instead: https://neuroimage.usc.edu/brainstorm/Updates?

I can't comment on this, as it is dependent o

[2021-12-01 11:29] jagru20 commented on #462
Of course! Actually I already did this before writing the previous comment. I got you wrong at this point. You meant the value in field B29 whereas I thought you meant versionInnovation in general.

https://neuroimage.usc.edu/brainstorm/Installation#Updates

Alright, I did not know about that possibility. We will reference that then, of course.

https://neuroimage.usc.edu/brainstorm/AboutUs

I get

[2021-12-01 11:58] ftadel commented on #462
Sounds good to me!

[2021-12-02 10:11] marcenko opened #486 "siibra-api"
[Siibra-api_curation.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/7641001/Siibra-api_curation.xlsx)

[2021-12-09 10:14] Majpuc opened #487 "Update metadata about QuickNII v2.2"
Dear sw curation team,
We have updated our user documentation. Great if you could release this very soon.

[https://docs.google.com/spreadsheets/d/1ccoI3KhQehuTtRCG6yjU0IV9qJL9RTU7DZERf6AUPlk/edit#gid=580454972]
(https://docs.google.com/spreadsheets/d/1ccoI3KhQehuTtRCG6yjU0IV9qJL9RTU7DZERf6AUPlk/edit#gid=580454972)

[2021-12-10 14:11] ezemikulan opened #488 "AnonyMI"
[AnonyMI_openMINDS - Template_openMINDS v2.0.0.csv](https://github.com/bweyers/HBPVisCatalogue/files/7693267/AnonyMI_openMINDS.-.Template_openMINDS.v2.0.0.csv)

[2021-12-14 07:27] herr-zett commented on #465
Dear @espenhgn, the integration of your software is about to be completed. To finish the process, additional information about the software's funding (cell B22 in the [spreadsheet](https://docs.google.com/spreadsheets/d/1cSAWbnXAw2aKfQgfM67upn22T0P_D5WfJQlx9mQ3DC0/edit?usp=sharing)) is needed. This concerns the following entries:
- International Neuroinformatics Coordinating Facility
- BrainScaleS

[2021-12-14 08:40] herr-zett commented on #469
Integration is about to be completed. Currently, the KnowledgeGraph is still missing content types for the file formats SWC and SVG. As soon as they are added, the integration can be completed.

[2021-12-14 08:47] jagru20 commented on #487
Dear Maja, we will update this as soon as we can, but please be aware, that this will become visible when the software migration is completed.

[2021-12-14 08:53] jagru20 commented on #478
@Hjorthmedh Snudda is now released. The link to the KG instance will be: https://search.kg.ebrains.eu/instances/8eb5c915-a398-4947-80b1-e1783e36d5b9
Please be aware, that this link is not active, until the software migration is done. However, you can still use this link for reports.

[2021-12-14 08:53] #478 closed

[2021-12-14 08:57] #332 closed

[2021-12-14 11:37] jagru20 commented on #89
Links are working again. I added the respective link to the KG entry.

[2021-12-14 16:27] espenhgn commented on #465
Hi. For BrainScaleS we have
Award number: 269912
Award title: BrainScaleS
Funder: European Union Seventh Framework Programme (EU)

For INCF we have:
Award number: 269774
Award title: The Norwegian Node of the International Neuroinformatic Coordinating Facility
Funder: Research Council of Norway

The COBRA project (# 250128) details look correct to me.

[2021-12-14 16:35] manikbh commented on #473
I updated the spreadsheet and answered the comments.

[2021-12-14 16:36] manikbh commented on #472
I don't have access to the spreadsheet.

[2021-12-16 08:31] herr-zett commented on #465
Thank you for providing the missing information! The instance of your software has been released.

[2021-12-16 08:31] #465 closed

[2021-12-17 10:40] jagru20 commented on #461
@mdenker, just a kind reminder to give us the "go" for publishing your metadata on viziphant.

[2021-12-17 10:52] mdenker commented on #461
I think that looks good all in all.

Not quite sure if it makes sense to list all emails and github accounts here, to be honest -- but of course, I assume you have guidelines in place.

[2021-12-17 10:59] mdenker opened #489 "Elephant 0.8.0, 0.9.0, 0.10.0"
Hi,

there are 3 updates to Elephant that should be added to extend the current entry for Elephant 0.7.0:
**0.8.0**
https://elephant.readthedocs.io/en/v0.8.0/release_notes.html
https://elephant.readthedocs.io/en/v0.8.0/authors.html
**0.9.0**
https://elephant.readthedocs.io/en/v0.9.0/release_notes.html
https://elephant.readthedocs.io/en/v0.9.0/authors.html
**0.10.0**
https://elephant.readthedocs.io

[2021-12-17 14:20] rowleya opened #490 "sPyNNaker 1!6.0.0"
[Template_openMINDSv2.0.0_sPyNNaker.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/7735689/Template_openMINDSv2.0.0_sPyNNaker.xlsx)

[2021-12-21 12:16] alex4200 commented on #470
Hello @jagru20 , I do not have access to that spreadsheet. I am unable to verify its content.

[2021-12-21 12:51] jagru20 commented on #470
@alex4200, please try this link: https://docs.google.com/spreadsheets/d/1oNs2IXfmexqM79CJ2n28An9bxVPAOo3Z-ttWqinVcvk/edit?usp=sharing

[2021-12-21 14:18] espenhgn commented on #465
Hi @herr-zett or whoever this concerns.
Something is not right with the release on the KG at https://search.kg.ebrains.eu/instances/2ebb6f71-6ea9-43b6-bfb0-17ecfb23e168

The title "LFPy" and short description is missing altogether. Nothing shows except an empty white bar after searching for LFPy: https://search.kg.ebrains.eu/?facet_type[0]=Software&q=LFPy

Also, I have a question. How do you manag

[2021-12-21 14:29] jagru20 commented on #465
I will have a look why the information is not displayed, thanks for pointing this out.

Regarding the updates: unfortunately we do not have the opportunity to let KG entries be updated automatically. Whenever you want an entry updated, let us know and especially point out what has changed in comparison to the previous version. We then create an additional entry for that version. Att versions shoul

[2021-12-22 09:06] jagru20 commented on #465
Ok, for the missing information: Please have another look at the search, it should be complete now.

[2021-12-22 09:44] espenhgn commented on #465
Thanks, the title etc. is indeed in place.

But I now noticed another issue; the entry with a url "Cite software
DOI: 10.5281/zenodo.4014889" points to https://search.kg.ebrains.eu/instances/2ebb6f71-6ea9-43b6-bfb0-17ecfb23e168 but this DOI url should point to https://doi.org/10.5281/zenodo.4014889

[2021-12-22 10:23] jagru20 commented on #465
This is a KG issue, I forwarded it and it will hopefully be fixed soon.

[2022-01-03 12:15] jagru20 commented on #487
released

[2022-01-03 12:15] #487 closed

[2022-01-05 17:18] herr-zett commented on #461
Instance added to the KG

[2022-01-05 17:18] #461 closed

[2022-01-06 09:26] herr-zett commented on #471
Currently the ContentType for SWC files is missing in the KG. Once it is added to the KG, the integration of MorphTool can be finalised.

[2022-01-06 10:10] jagru20 commented on #471
@herr-zett please proceed with the integration and add the SWC ct to the list of contenttypes that need to be created. We will add them later to the existing instance.

[2022-01-06 11:06] herr-zett commented on #473
The following file formats are currently not represented as ContentTypes in the KG:

- ANT ASA (.msm/.msr)
- Deltamed Coherence-Neurofile export (.txt/.bin)
- Nicolet (.e)
- Nihon Kohden (.EEG)

As soon as they are added to the KG, the integration of ImaGIN can be finalised

[2022-01-13 07:17] herr-zett commented on #469
Instance has been released. File formats SWC and SVG will be added later.

[2022-01-13 07:17] #469 closed

[2022-01-13 07:19] herr-zett commented on #471
Proceeded as suggested by @jagru20

[2022-01-13 07:42] herr-zett commented on #473
Missing file formats have been added to the list of ContentTypes to be created. They will be added to ImaGIN when they are available in the KG.

[2022-01-14 08:59] jagru20 commented on #470
@alex4200 did that link work?

[2022-01-14 09:05] jagru20 commented on #474
@Visabado please review the [spreadsheet ](https://docs.google.com/spreadsheets/d/1UhpepYdEbeKBekKoTBm69ZKvImFAC929ZDa-D1GnrE0/edit?usp=sharing)so that we can continue integration.

[2022-01-14 09:30] alex4200 commented on #470
Yes, link works, entry looks ok I guess

[2022-01-18 16:39] herr-zett commented on #462
Instance has been added to the KG. Some file formats have to be added to the KG as ContentTypes according to the openMINDS schema first, before they can be added to this instance of the software as input and output formats. This will happen automatically once they have been created.

[2022-01-18 16:39] #462 closed

[2022-01-19 12:53] Visabado commented on #474
Dear Jan,

Looks good thanks.

Best regards,

Virginie
On 14 Jan 2022, 10:05 +0100, Jan Gründling ***@***.***>, wrote:

[2022-01-19 14:38] herr-zett commented on #480
Arbor v0.5.2 is already published, but the ContentTypes for the file formats NMODL and SWC are still missing. As soon as these have been created, the instance of Arbor in the KG will be updated.

[2022-01-19 14:38] #480 closed

[2022-01-19 15:26] brenthuisman commented on #480
I don't see the field ContentTypes, so I do not understand exactly what you're asking.

As I said, specs do not exist as such for these formats, but their documentation for the most commonly used flavor of these formats can be found at:
nmdol: https://www.neuron.yale.edu/neuron/static/py_doc/modelspec/programmatic/mechanisms/nmodl.html
swc: https://www.neuronland.org/NLMorphologyConverter/Morpholo

[2022-01-19 15:45] #481 closed

[2022-01-21 14:39] brenthuisman commented on #480
@herr-zett Can you comment?

[2022-01-22 09:09] herr-zett commented on #480
@brenthuisman Sorry for the confusion. My comment, which closed the issue, was just for documenting the internal process on our side. It was not intended to elicit any action on your part. The information you have provided was sufficient to create an instance in the KG. The [openMINDS scheme](https://humanbrainproject.github.io/openMINDS/v2.0.0/) we are adhering to defines so called ContentTypes,

[2022-01-22 11:34] brenthuisman commented on #480
Ah, I misunderstood, I though you wouldn't add Arbor 0.5.2 until you had specs for these formats.

Checking up Neuron, which originated `nmodl`, I see it is not listed at all, and neither is `swc`. Neurolucida is, which Arbor supports too (hope this link works: https://search.kg.ebrains.eu/?facet_type[0]=Software&q=neuron#b1e312c7-7ca0-4f05-9134-c69462e4a6b8).

Is there a way I can get a list of c

[2022-01-22 21:14] jagru20 commented on #480
Hi Brent,

Yes, the list of currently registered contenttypes is available at
https://humanbrainproject.github.io/<https://humanbrainproject.github.io/openMINDS/v3/core/v4/data/contentType.html>openMINDS<https://humanbrainproject.github.io/openMINDS/v3/core/v4/data/contentType.html>/v3/core/v4/data/contentType.html<https://humanbrainproject.github.io/openMINDS/v3/core/v4/data/contentType.html>
Not

[2022-01-27 11:27] brenthuisman opened #491 "Arbor v0.6"
[Arbor.v0.6.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/7949997/Arbor.v0.6.xlsx)

[2022-01-27 11:47] manikbh commented on #472
Thank you, no comments were requiring an answer from me and information is still valid.

[2022-01-31 07:34] Majpuc commented on #485
@jagru20 could you update Nutil?, we need this for the review. Thanks!

[2022-01-31 09:34] jagru20 commented on #485
@Majpuc updated!

[2022-01-31 09:34] #485 closed

[2022-02-01 08:11] herr-zett commented on #470
Instance has been added to the KG.

[2022-02-01 08:29] herr-zett commented on #474
Instance has been added to the KG

[2022-02-01 08:29] #474 closed

[2022-02-01 09:01] herr-zett commented on #472
Instance has been added to the KG.

[2022-02-01 10:16] herr-zett commented on #491
Instance has been added to the KG.

@brenthuisman Could you use this [spreadsheet](https://docs.google.com/spreadsheets/d/1kVVVrz_41WVxwyZyUXQ74ZeVbvXT4jYHmpg7tGGPtRM/edit?usp=sharing) in the future for documenting updates to Arbor? This spreadsheet corresponds to the current openMINDS scheme used in the KG. The link to the spreadsheet contains a template for new entries that you can copy to add a

[2022-02-01 10:25] jagru20 commented on #472
@manikbh as far as I understand from [this document ](https://github.com/IntrAnatSEEGSoftware/IntrAnat/blob/brainvisa_4.6/doc/user_documentation.pdf) IntrAnat Electrodes in fact does have output formats (.pts, .txt, .csv) other than mentioned in the spreadsheet. Can you comment on this?

[2022-02-01 10:53] #189 closed

[2022-02-01 11:02] jagru20 commented on #89
released!

[2022-02-01 11:02] #89 closed

[2022-02-02 13:12] Majpuc opened #492 "VisuAlign v0.9"
[VisuAlign_Template_openMINDSv2.0.0.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/7986682/VisuAlign_Template_openMINDSv2.0.0.xlsx)

[2022-02-02 15:13] jagru20 commented on #492
regarding contenttypes:
+ specific json

[2022-02-07 13:18] GiuliaDarrigo opened #493 "tau-Random Acceleration Molecular Dynamics (RAMD) 2.0"
[tauRAMD2.0.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/8015500/tauRAMD2.0.xlsx)

[2022-02-08 10:04] wvangeit opened #494 "Adding BluePyEfe 0.3.90"
[BluePyEfe_0_3_90.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/8022730/BluePyEfe_0_3_90.xlsx)

[2022-02-13 10:06] herr-zett commented on #464
[Spreadsheet](https://docs.google.com/spreadsheets/d/1xysVas96ABFENTR8pk5uvyvZAke1dKGpEYj6T5aHqdU/edit#gid=1978094444) according to the current openMINDS v2 scheme.

[2022-02-16 14:45] a-kramer opened #495 "SBtabVFGEN"
[Template_openMINDS - Template_openMINDS v2.0.0.csv](https://github.com/bweyers/HBPVisCatalogue/files/8080740/Template_openMINDS.-.Template_openMINDS.v2.0.0.csv)

[2022-02-21 13:56] jagru20 commented on #375
insufficient information

[2022-02-21 13:56] #375 closed

[2022-02-21 13:57] jagru20 commented on #363
insufficient information

[2022-02-21 13:57] #363 closed

[2022-02-21 13:59] jagru20 commented on #361
not a software

[2022-02-21 13:59] #361 closed

[2022-02-21 14:00] jagru20 commented on #357
insufficient information

[2022-02-21 14:00] jagru20 commented on #354
insufficient information / not a software

[2022-02-21 14:00] #354 closed

[2022-02-21 14:02] jagru20 commented on #352
insufficient information, no response by contact person

[2022-02-21 14:02] #352 closed

[2022-02-21 14:04] jagru20 commented on #351
@apdavison is this still relevant or is the framework already curated in a different form?

[2022-02-21 14:05] jagru20 commented on #350
@apdavison is this still relevant or is the catalog already curated in a different form?

[2022-02-21 14:06] #294 closed

[2022-02-21 14:11] #382 closed

[2022-02-21 14:11] #384 closed

[2022-02-21 14:11] #385 closed

[2022-02-21 14:11] #386 closed

[2022-02-21 14:11] #445 closed

[2022-02-21 14:11] #446 closed

[2022-02-21 14:11] #447 closed

[2022-02-21 14:19] jagru20 commented on #187
released

[2022-02-21 14:19] #187 closed

[2022-02-24 13:06] herr-zett commented on #486
Creation of a new [spreadsheet](https://docs.google.com/spreadsheets/d/1Zr2arLKWssm0V5RJLb3MYxGU56DZAEtIpgsi-ZahKpE/edit#gid=1375696599) for the most recent [release v0.1.11-rc published on GitHub](https://github.com/FZJ-INM1-BDA/siibra-api/tree/0.1.11-rc).

[2022-02-25 09:46] herr-zett commented on #488
Created a new [spreadsheet](https://docs.google.com/spreadsheets/d/1je1PjYXiwCs-LNNuGuOhPnOPSuY3aoV5_lqF_bhQfA8/edit#gid=1466883104) for online collaboration and added some questions regarding input/output formats and the licence of the software.

[2022-02-25 10:46] jagru20 commented on #430
closing as most points are addressed or work in progress.

[2022-02-25 10:46] #430 closed

[2022-02-28 14:48] apdavison commented on #351
I don't think it's relevant for the KG, since it covers multiple components which should have separate entries. You can close this issue.

[2022-02-28 14:50] apdavison commented on #350
The catalog is a web service, so would be best represented as such in the KG. I don't know if there is value in also representing the software that underlies the web service?

[2022-03-01 07:09] jagru20 commented on #351
thanks! closed as suggested.

[2022-03-01 07:09] #351 closed

[2022-03-02 08:43] jagru20 commented on #458
released

[2022-03-02 08:49] #482 closed

[2022-03-02 08:50] jagru20 commented on #491
released

[2022-03-02 08:50] #491 closed

[2022-03-02 08:51] jagru20 commented on #471
released

[2022-03-02 08:51] #471 closed

[2022-03-02 08:52] #417 closed

[2022-03-02 08:54] jagru20 commented on #413
I think we don't need this one anymore due to openMINDS

[2022-03-02 09:00] jagru20 commented on #319
closing due to missing response from developer

[2022-03-02 09:00] #319 closed

[2022-03-02 09:14] jagru20 commented on #350
@apdavison is this actually the model part of the KG search? If yes, we could still curate it, similar to the KG itself (https://search.kg.ebrains.eu/?facet_type[0]=Software&q=KG#0d9249b7-3302-4a84-9c8e-1820658db298) but if you do not want this I think it's fine, I'd close this issue then. Just let me know what you prefer. I agree with you that it is not absolutely necessary.

[2022-03-02 10:39] herr-zett commented on #489
Added updates 0.8.0, 0.9.0 and 0.10.0 to KG

[2022-03-02 11:24] manikbh commented on #472
IntrAnat has an export function that exports electrode locations in multiple formats used by external software such as .pts, .txt. and csv for BIDS-compatible storage.

[2022-03-02 14:18] jens-br opened #496 "NEST Desktop 3.0.0 and 3.1.0"
Hi all,

NEST Desktop got some more releases in the meantime. Could you add these two versions?

- [ ] [NEST Desktop 3.0.0](https://seafile.rlp.net/f/683911cbbc3f47c2bc89/)
- [ ] [NEST Desktop 3.1.0](https://seafile.rlp.net/f/8f7603f370a346e8b030/)

If you need the patch versions also (in case it is relevant to have a complete dataset), please let me know.

Many thanks in advance!

[2022-03-03 09:20] espenhgn commented on #465
Hi again, @jagru20 . Sorry, I should have spotted this earlier. The software title at https://search.kg.ebrains.eu/instances/2ebb6f71-6ea9-43b6-bfb0-17ecfb23e168 reads "Local Field Potentials in Python" but this should be "LFPy". Can you fix, please?

[2022-03-04 10:11] jagru20 commented on #465
The reason it reads "Local Field Potentials in Python" is because we have this as Full name. The Full name is Supposed to give a little more info if otherwise an acronym is used. Thus, I changed it to "LFPy - Local Field Potentials in Python" I will contact the KG development team to see if we can display the short name in another way. Let me know if you are absolutely unhappy with this.

[2022-03-04 10:35] espenhgn commented on #465
Ok, these naming conventions on the KG are applied entirely inconsistently, in particular for software. On one end you have the "Electrophysiology Analysis Toolkit" listed as "Elephant" (which I presume most refer to this package as) and "NEST" listed as "The Neural Simulation Tool" (which I presume no one refers to it as anymore), etc.

In the particular case of LFPy, I would say "Local Field Pot

[2022-03-04 12:29] jagru20 commented on #465
In fact, the full name for Elephant should be "Electrophysiology Analysis Toolkit" thanks for pointing to this. The reason for this is that "Elephant" for that instance is listed as fullName. However, the decision wether a name is a full name or not from the openMINDS perspective is if the phrase uses acronyms or not. LFPy, Elephant and NEST are acronyms or abbreviations and therefore not full nam

[2022-03-05 07:45] herr-zett commented on #493
@GiuliaDarrigo In order to continue the integration of your software, we need more detailed information about the funding of the software, which is referred to as "Klaus Tschira Foundation". Could you please let us know the specific **award number** and **award title** of this funding?

[2022-03-05 21:38] a-kramer opened #497 "rgsl_odeiv2"
[RGSL_EBRAINS.csv](https://github.com/bweyers/HBPVisCatalogue/files/8191514/RGSL_EBRAINS.csv)

[2022-03-05 21:55] a-kramer opened #498 "Subcellular Workflow"
[Subcellular_Workflow_EBRAINS.csv](https://github.com/bweyers/HBPVisCatalogue/files/8191539/Subcellular_Workflow_EBRAINS.csv)

[2022-03-05 22:17] a-kramer opened #499 "UQSA"
[UQSA_EBRAINS.csv](https://github.com/bweyers/HBPVisCatalogue/files/8191581/UQSA_EBRAINS.csv)

[2022-03-07 10:16] GiuliaDarrigo commented on #493
There is not an award number or title for this source of funding.

[2022-03-07 11:41] xgui3783 opened #500 "siibra-explorer v2.6.5"
experimental upload using json-ld (?)

@jagru20 per our email discussion.

Please let me know if this is somewhat acceptable/any feedbacks would be highly appreciated.

Instead of linked object, I have temporarily used embedded objects (each has a `at_type` attribute, so extracting them programmatically should be relatively easy).

lastly, github doesn't allow upload json file directly, so I had t

[2022-03-07 13:44] herr-zett commented on #493
I was not aware of this and have since been informed of the differences in funding and the resulting differences in the information required for integration into the KG. The integration of your software can therefore go ahead.

[2022-03-08 12:49] jagru20 commented on #493
Dear Giulia,

thank you very much for the submission of "tau-RAMD". First of all, I would like to point out that there are some inconsistencies in the information in the template. For example, in the Github repository, unlike in the paper, there is no mention of "τRAMD". Furthermore, the person listed in the template as a developer is apparently not involved in the Github repository as a contribut

[2022-03-10 12:23] GiuliaDarrigo commented on #493
Dear Jan,
Sorry for the misunderstanding and poor clarity. tau-RAMD is not implemented in GROMACS but consists of scripts that use RAMD-GROMACS.  I will implement better the excel file, clarifying this distinction between RAMD-GROMACS and tauRAMD-GROMACS and improving the description, and upload it again.
Best,
Giulia

[2022-03-11 18:18] GiuliaDarrigo commented on #493
The new submission attached.

[tauRAMD2.0_2.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/8233221/tauRAMD2.0_2.xlsx)

[2022-03-16 22:23] jens-br commented on #496
Are there any updates on this?
If there are any further materials required (additional to the ones linked above), please to not hesitate to contact me!

[2022-03-18 16:09] jagru20 opened #501 "ArDock 1.1"
https://docs.google.com/spreadsheets/d/1UzOWyB3iZkZCETRYgXNEZ8PykHEwTSB3RXJdSBHyHkE/edit?usp=sharing

[2022-03-22 11:52] herr-zett commented on #493
In the completed template, GNU LGPL is entered as the licence, while the [repository](https://github.com/HITS-MCM/tauRAMD/blob/master/LICENSE) lists MIT as the licence. Therefore I have also entered MIT in the KG.

Regarding the field "Version Innovation", I have mentioned that this is the first release of this software, as the [tauRAMD repository](https://github.com/HITS-MCM/tauRAMD) does not lis

[2022-03-22 12:11] jagru20 commented on #493
released in KG : https://search.kg.ebrains.eu/instances/74914a7-f3fe-4eb0-97ae-723629d0e3da

[2022-03-22 12:41] jagru20 commented on #466
COMPSS is now registered in the KG: https://search.kg.ebrains.eu/instances/bd929e78-07b8-4987-a3bb-01a6375a780c

[2022-03-22 12:41] #466 closed

[2022-03-23 16:00] GiuliaDarrigo opened #502 "MD-IFP"
[MD-IFP.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/8334563/MD-IFP.xlsx)

[2022-03-25 10:05] jagru20 commented on #489
released.

[2022-03-25 10:05] #489 closed

[2022-03-25 10:07] jagru20 commented on #468
released: https://search.kg.ebrains.eu/instances/5e4d4054-f05b-434a-8b09-6b1ef5d8d968

[2022-03-25 10:07] #468 closed

[2022-03-25 10:21] jagru20 commented on #496
Released, using the a test run of a new curation approach. thanks for testing!

[2022-03-25 10:21] #496 closed

[2022-03-25 10:23] jagru20 commented on #475
@Visabado did you check upon the information and comments in the [spreadsheet](https://docs.google.com/spreadsheets/d/1TItxGx0oRyAx6zyIX0O5KygPb1GMGX7OCkkNlQsKXOs/edit?usp=sharing) ? especially the description needs to be extended before we can publish the metadata about dopp.

[2022-03-30 10:07] herr-zett commented on #476
@jagru20 instance has been integrated so far. Among others, [AMPL](https://www.wikidata.org/wiki/Q295250) is listed as a programming language used for the software. Currently, AMPL is not integrated as a controlled term in the KG. The following JSON-LD can be used for its integration:

[code]

[2022-03-30 10:50] jagru20 commented on #476
I prepared a pull request for the controlledTerms repository. As soon as it is through, I'll add the missing information and release the instance.

[2022-03-30 11:15] jagru20 commented on #488
@ezemikulan do you have any news on the license? We strongy recommend to decide for a well known license or at least declare the terms of use as an extension to one.

[2022-03-30 11:25] ezemikulan commented on #488
Hi, sorry about the delay, I have scheduled a meeting next week to discuss this with the technology transfer office of the university. I'll let you know as soon as possible.

[2022-03-30 11:36] jagru20 commented on #490
https://docs.google.com/spreadsheets/d/1-XnJIxF8HH6JD489xCCiEjJ9AqCXSEI3fJw93UUCTQU/edit#gid=1423678363

[2022-03-30 11:39] jagru20 commented on #490
@rowleya please have another look at the [spreadsheet](https://docs.google.com/spreadsheets/d/1-XnJIxF8HH6JD489xCCiEjJ9AqCXSEI3fJw93UUCTQU/edit#gid=1423678363) and check the comments in column C. After that we can publish the information in the KG.

[2022-03-30 11:41] jagru20 commented on #492
https://docs.google.com/spreadsheets/d/1lSIQUjnyHPE2LgorB_z8NSQ22j7Wt1ntSarHUc4jwgY/edit?usp=sharing

[2022-03-30 11:51] rowleya commented on #490
I have updated the sheet.  Let me know if you have any more comments!

[2022-04-08 13:28] ezemikulan commented on #488
We are still looking into this, I'll update you next week, sorry for the delay

[2022-05-03 07:18] Majpuc commented on #492
Hi, @jagru20 Do you need more information from me?

[2022-05-09 15:52] ezemikulan commented on #488
Hi, I've been told by the technology transfer office of the university that the license was written _ad hoc_ and that it follows the principles of other open source licenses but it is not a direct extension of any of them. The software has already been published with this license: https://onlinelibrary.wiley.com/doi/full/10.1002/hbm.25639 .

Hope this isn't a problem, please let me know if you nee

[2022-05-24 08:03] dkeller9 commented on #479
Hello,

I wanted to check on the integration of this tool into the knowledge graph.
There were a couple of fields that needed to be resolved but I think they
are complete now.

https://docs.google.com/spreadsheets/d/1jgqr2TAmzt9zCM_aChBnZe6saaxtnu2-mYtkQbyOJI4/edit#gid=611727285

Thank you,

Daniel Keller

On Mon, 29 Nov 2021 at 22:05, Jan Gründling ***@***.***>
wrote:

[2022-05-31 08:50] jagrue opened #503 "i"
i

[2022-05-31 09:28] jagrue commented on #454
released

[2022-05-31 12:27] jagrue commented on #464
released e3c059b1-cb00-417c-8802-046ff532273a

[2022-05-31 12:45] jagrue commented on #472
released https://search.kg.ebrains.eu/instances/f9910139-c184-4d03-b103-a0042083153f

[2022-05-31 12:45] #472 closed

[2022-05-31 12:46] #350 closed

[2022-05-31 12:46] #454 closed

[2022-05-31 12:46] #464 closed

[2022-05-31 12:59] jagrue commented on #476
released https://search.kg.ebrains.eu/instances/53d7a160-31ae-4d2a-9250-c90a3d00e2ea

[2022-05-31 12:59] #476 closed

[2022-06-01 06:45] jagru20 commented on #477
released

[2022-06-01 06:45] #477 closed

[2022-06-01 06:55] jagru20 commented on #479
Dear Daniel,

thanks for your revision. I integrated the metadata as far as possible into the KG. To curate all input/output formats correctly, could you pleas provide specifications for the following formats:

BNGL
eBNGL
SBML
NFSim (.rnf)
PySB

Thanks in advance!

Jan

[2022-06-01 07:05] jagru20 commented on #479
released for now, missing contenttypes will be given later, after developer provided specifications.

[2022-06-01 07:05] #479 closed

[2022-06-01 07:22] dkeller9 commented on #479
Dear Jan,

The specifications are as given on the following websites:

BNGL (.bngl): https://bionetgen.org/
SBML (.sbml): https://sbml.org/
NFSim (.rnf): http://michaelsneddon.net/nfsim/
PySB (.sbml): https://pysb.org/

Is there a particular format needed for this specification?

Thank you,

Dan

On Wed, 1 Jun 2022 at 08:55, Jan Gründling ***@***.***> wrote:

[2022-06-01 07:26] jagru20 commented on #475
released https://search.kg.ebrains.eu/instances/15c98b90-c4a3-4fb5-a070-dd43a4c49cb7

[2022-06-01 07:26] #475 closed

[2022-06-01 07:32] jagru20 commented on #479
Thank you for the links! I do not need any specific format for now, I will come back to you if I need further information.

Best

Jan

[2022-06-24 08:49] jagru20 commented on #494
https://docs.google.com/spreadsheets/d/1J2VtoeHAw5bcNLolWZ8q0N-xRRxdxQLQSRM0PG2FKII/edit?usp=sharing

[2022-06-24 08:51] jagru20 commented on #494
@wvangeit thanks for your curation request. could you please add input and output formats to the information in the [spreadsheet](https://docs.google.com/spreadsheets/d/1J2VtoeHAw5bcNLolWZ8q0N-xRRxdxQLQSRM0PG2FKII/edit?usp=sharing)?
Thank you very much.

Best,

Jan

[2022-06-24 09:00] wvangeit commented on #494
Ok, done

[2022-06-24 09:00] jagru20 commented on #495
https://docs.google.com/spreadsheets/d/1CL6CzUcNu5VkcyfqrjMSgK4cDmBd9BSmG1mRpZi8Q1U/edit?usp=sharing

[2022-06-24 09:10] jagru20 commented on #497
@a-kramer I have reviewed the information on your software and transferred it to a [spreadsheet](https://docs.google.com/spreadsheets/d/1HvwB4OoE_Uzv6ittBaJew7qX2QN4WX5MXAZQmcppVSI/edit?usp=sharing), along with comments. Please have a look and respond to the comments or change the provided information in the spreadsheet accordingly.

[2022-06-24 09:11] jagru20 commented on #495
@a-kramer I have reviewed the information on your software and transferred it to a [spreadsheet](https://docs.google.com/spreadsheets/d/1CL6CzUcNu5VkcyfqrjMSgK4cDmBd9BSmG1mRpZi8Q1U/edit?usp=sharing), along with comments. Please have a look and respond to the comments or change the provided information in the spreadsheet accordingly.

[2022-06-24 09:19] jagru20 commented on #498
@a-kramer I have reviewed the information on your software and transferred it to a [spreadsheet](https://docs.google.com/spreadsheets/d/16dDTrlOKP0TsrMPlvLaj6A0KxscDFNQBk5JB52vkpmM/edit?usp=sharing), along with comments. Please have a look and respond to the comments or change the provided information in the spreadsheet accordingly.

[2022-06-24 09:26] jagru20 commented on #499
@a-kramer I have reviewed the information on your software and transferred it to a [spreadsheet](https://docs.google.com/spreadsheets/d/1Uu_UrmPfsRZnGAfAn5Mup48Y3u0LEiOHpwxKgayXezM/edit#gid=1423678363), along with comments. Please have a look and respond to the comments or change the provided information in the spreadsheet accordingly.

[2022-06-24 09:51] jagru20 commented on #502
https://docs.google.com/spreadsheets/d/1PyKgen9jVRDlLyHlsaSaU6h8ayz0PraVI-EytR7QPWQ/edit#gid=1423678363

[2022-07-11 08:15] jagru20 commented on #492
is there a reason for not mentioning input types?

[2022-07-11 08:32] #502 closed

[2022-07-11 08:53] jagru20 commented on #499
@a-kramer please extend the description provided for UQSA. The one given in the [spreadsheet](https://docs.google.com/spreadsheets/d/1Uu_UrmPfsRZnGAfAn5Mup48Y3u0LEiOHpwxKgayXezM/edit?usp=sharing) is too short. We will proceed integrating the software into the KG after that. If this is not provided, we need to close the ticket and abort integration. Regarding the description, please be aware that t

[2022-07-12 09:35] Majpuc commented on #492
Hi Jan, sorry for overseeing this. I added the input file type now to the form.

[2022-07-13 08:38] jagru20 commented on #492
Hi Maja, no problem. Thanks for adding it!

[2022-07-13 08:58] #492 closed

[2022-07-25 10:57] brenthuisman opened #504 "Arbor v0.7"
[Arbor-v0.7.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/9180466/Arbor-v0.7.xlsx)

[2022-07-28 07:49] jagrue commented on #494
released

[2022-07-28 07:49] #494 closed

[2022-07-28 07:51] jagrue commented on #495
released

[2022-07-28 08:01] jagrue commented on #497
released

[2022-07-28 08:01] #497 closed

[2022-08-24 10:44] a-kramer commented on #499
spreadsheet updated

[2022-08-24 12:04] a-kramer commented on #498
spreadsheet updated

[2022-08-24 12:09] a-kramer commented on #495
spreadsheet very slightly modified.

[2022-08-27 09:34] PatriziaFeld commented on #495
reopened due to updated information and missing mediatypes

[2022-09-23 12:55] danielemarinazzo opened #506 "rsHRF 1.5.8"
[Template_openMINDSv2.0.0.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/9633753/Template_openMINDSv2.0.0.xlsx)

[2022-10-17 12:35] jagru20 commented on #501
closed due to lack of information and non responsive contact person.

[2022-11-11 10:15] jagru20 commented on #486
@PatriziaFeld  would you please update this with information from the last release on their GitHub repo and integrate that one?

[2022-11-16 13:49] brenthuisman opened #507 "Arbor v0.8"
[Arbor-v0.8.xlsx](https://github.com/bweyers/HBPVisCatalogue/files/10022255/Arbor-v0.8.xlsx)

[2022-11-16 15:14] brenthuisman commented on #504
Any activity on this update?

[2022-11-16 15:26] jagru20 commented on #504
Thanks for the up, we'll look into it asap.

[2022-11-30 08:43] jagru20 commented on #499
@PatriziaFeld contenttypes are available now, please revise the "Mediatypes needed" labeled issues, thanks!

[2022-11-30 08:45] jagru20 commented on #507
@AlexKutscheid

[2022-11-30 08:47] jagru20 commented on #507
@AlexKutscheid will take care of curating this update.